<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshop.serviceapp.mapper.GoodsModelMapper">
  <resultMap id="BaseResultMap" type="com.eshop.serviceapp.model.GoodsModel">
    <id column="goods_model_id" jdbcType="INTEGER" property="goodsModelId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_model_name" jdbcType="VARCHAR" property="goodsModelName" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="bu_code" jdbcType="VARCHAR" property="buCode" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="TIMESTAMP" property="lastUpdatedDate" />
    <result column="row_id" jdbcType="VARCHAR" property="rowId" />
  </resultMap>

  <resultMap id="detailMap" type="com.eshop.serviceapp.vo.GoodsModelVO">
    <result column="zone_goods_id" jdbcType="INTEGER" property="zoneGoodsId" />
    <result column="goods_model_id" jdbcType="INTEGER" property="goodsModelId" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="goods_model_name" jdbcType="VARCHAR" property="goodsModelName" />
  </resultMap>
  <sql id="Base_Column_List">
    goods_model_id, goods_id, goods_model_name, price, bu_code, created_by, created_date, 
    last_updated_by, last_updated_date, row_id
  </sql>
  <select id="getOne" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sh_goods_model
    where goods_model_id = #{goodsModelId,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from sh_goods_model
    where goods_model_id = #{goodsModelId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByLock" parameterType="com.eshop.serviceapp.vo.DeleteVO">
    delete from sh_goods_model
    where goods_model_id = #{id,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eshop.serviceapp.model.GoodsModel">
    insert into sh_goods_model (goods_model_id, goods_id, goods_model_name, 
      price, bu_code, created_by, 
      created_date, last_updated_by, last_updated_date, 
      row_id)
    values (#{goodsModelId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{goodsModelName,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{buCode,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdatedDate,jdbcType=TIMESTAMP}, 
      #{rowId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertActive" parameterType="com.eshop.serviceapp.model.GoodsModel">
    insert into sh_goods_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsModelId != null">
        goods_model_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsModelName != null">
        goods_model_name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="buCode != null">
        bu_code,
      </if>
      <if test="currentUser != null">
        created_by,
      </if>
      <if test="createdDate == null">
        created_date,
      </if>
      <if test="lastUpdatedBy == null">
        last_updated_by,
      </if>
      <if test="lastUpdatedDate == null">
        last_updated_date,
      </if>
      row_id,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsModelId != null">
        #{goodsModelId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsModelName != null">
        #{goodsModelName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="buCode != null">
        #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="currentUser != null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="createdDate == null">
        now(),
      </if>
      <if test="lastUpdatedBy == null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate == null">
        now(),
      </if>
      <if test="rowId == null">
        uuid(),
      </if>
      <if test="rowId != null">
        #{rowId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateActive" parameterType="com.eshop.serviceapp.model.GoodsModel">
    update sh_goods_model
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsModelName != null">
        goods_model_name = #{goodsModelName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="buCode != null">
        bu_code = #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where goods_model_id = #{goodsModelId,jdbcType=INTEGER}
  </update>
  <update id="updateActiveByLock" parameterType="com.eshop.serviceapp.model.GoodsModel">
    update sh_goods_model
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsModelName != null">
        goods_model_name = #{goodsModelName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="buCode != null">
        bu_code = #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="currentUser != null">
        last_updated_by = #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = now(),
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where goods_model_id = #{goodsModelId,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.eshop.serviceapp.model.GoodsModel">
    update sh_goods_model
    set goods_id = #{goodsId,jdbcType=INTEGER},
      goods_model_name = #{goodsModelName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      bu_code = #{buCode,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      row_id = #{rowId,jdbcType=VARCHAR}
    where goods_model_id = #{goodsModelId,jdbcType=INTEGER}
  </update>
  <sql id="Base_Query_Cause">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="goodsModelId != null">
         and t.goods_model_id = #{goodsModelId,jdbcType=INTEGER}
      </if>
      <if test="goodsId != null">
         and t.goods_id = #{goodsId,jdbcType=INTEGER}
      </if>
      <if test="goodsModelName != null">
         and t.goods_model_name = #{goodsModelName,jdbcType=VARCHAR}
      </if>
      <if test="price != null">
         and t.price = #{price,jdbcType=DECIMAL}
      </if>
      <if test="buCode != null">
         and t.bu_code = #{buCode,jdbcType=VARCHAR}
      </if>
      <if test="createdBy != null">
         and t.created_by = #{createdBy,jdbcType=VARCHAR}
      </if>
      <if test="createdDate != null">
         and t.created_date = #{createdDate,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </sql>
  <select id="getAll" resultMap="BaseResultMap">
    select t.* from sh_goods_model t
  </select>
  <select id="getList" parameterType="com.eshop.serviceapp.model.GoodsModel" resultMap="BaseResultMap">
    select t.* from sh_goods_model t
    <include refid="Base_Query_Cause" />
  </select>
  <select id="getPageList" parameterType="com.eshop.serviceapp.model.GoodsModel" resultMap="BaseResultMap">
    select t.* from sh_goods_model t
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryPageList" parameterType="com.eshop.serviceapp.model.GoodsModel" resultMap="BaseResultMap" useCache="false">
    select t.* from sh_goods_model t
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryList" parameterType="com.eshop.serviceapp.model.GoodsModel" resultMap="BaseResultMap" useCache="false">
    select t.* from sh_goods_model t
    <include refid="Base_Query_Cause" />
  </select>
  <select id="getDetail" parameterType="com.eshop.serviceapp.model.ZoneGoods" resultMap="detailMap" useCache="false">
    SELECT
    t.goods_model_id,t.goods_model_name,t.price,a.zone_goods_id
    FROM
    sh_goods_model t
    LEFT JOIN sh_zone_goods a ON a.goods_id = t.goods_id
    WHERE  t.goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  <cache type="com.eshop.serviceapp.redis.MybatisRedisCache" />
</mapper>