<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshop.serviceapp.mapper.MemberCartMapper">
  <resultMap id="BaseResultMap" type="com.eshop.serviceapp.model.MemberCart">
    <id column="member_cart_id" jdbcType="INTEGER" property="memberCartId" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="zone_goods_id" jdbcType="INTEGER" property="zoneGoodsId" />
    <result column="qty" jdbcType="INTEGER" property="qty" />
    <result column="bu_code" jdbcType="VARCHAR" property="buCode" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="TIMESTAMP" property="lastUpdatedDate" />
    <result column="row_id" jdbcType="VARCHAR" property="rowId" />
  </resultMap>

  <resultMap id="voResultMap" type="com.eshop.serviceapp.vo.MemberCartVO" extends="BaseResultMap">
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_model_name" jdbcType="VARCHAR" property="goodsModelName" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="zone_code" jdbcType="VARCHAR" property="zoneCode" />
    <result column="goods_brief" jdbcType="VARCHAR" property="goodsBrief" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="media_url" jdbcType="VARCHAR" property="mediaUrl" />
  </resultMap>

  <sql id="Base_Column_List">
    member_cart_id, member_id, zone_goods_id, qty, bu_code, created_by, created_date, 
    last_updated_by, last_updated_date, row_id
  </sql>
  <select id="getOne" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mc_member_cart
    where member_cart_id = #{memberCartId,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from mc_member_cart
    where member_cart_id = #{memberCartId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByLock" parameterType="com.eshop.serviceapp.vo.DeleteVO">
    delete from mc_member_cart
    where member_cart_id = #{id,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eshop.serviceapp.model.MemberCart">
    insert into mc_member_cart (member_cart_id, member_id, zone_goods_id, 
      qty, bu_code, created_by, 
      created_date, last_updated_by, last_updated_date, 
      row_id)
    values (#{memberCartId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{zoneGoodsId,jdbcType=INTEGER}, 
      #{qty,jdbcType=INTEGER}, #{buCode,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdatedDate,jdbcType=TIMESTAMP}, 
      #{rowId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertActive" parameterType="com.eshop.serviceapp.model.MemberCart" useGeneratedKeys="true" keyProperty="memberCartId">
    insert into mc_member_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memberCartId != null">
        member_cart_id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="zoneGoodsId != null">
        zone_goods_id,
      </if>
      <if test="qty != null">
        qty,
      </if>
      <if test="buCode != null">
        bu_code,
      </if>
      <if test="currentUser != null">
        created_by,
      </if>
      <if test="createdDate == null">
        created_date,
      </if>
      <if test="lastUpdatedBy == null">
        last_updated_by,
      </if>
      <if test="lastUpdatedDate == null">
        last_updated_date,
      </if>
      row_id,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memberCartId != null">
        #{memberCartId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="zoneGoodsId != null">
        #{zoneGoodsId,jdbcType=INTEGER},
      </if>
      <if test="qty != null">
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="buCode != null">
        #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="currentUser != null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="createdDate == null">
        now(),
      </if>
      <if test="lastUpdatedBy == null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate == null">
        now(),
      </if>
      <if test="rowId == null">
        uuid(),
      </if>
      <if test="rowId != null">
        #{rowId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateActive" parameterType="com.eshop.serviceapp.model.MemberCart">
    update mc_member_cart
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="zoneGoodsId != null">
        zone_goods_id = #{zoneGoodsId,jdbcType=INTEGER},
      </if>
      <if test="qty != null">
        qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="buCode != null">
        bu_code = #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where member_cart_id = #{memberCartId,jdbcType=INTEGER}
  </update>
  <update id="updateActiveByLock" parameterType="com.eshop.serviceapp.model.MemberCart">
    update mc_member_cart
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="zoneGoodsId != null">
        zone_goods_id = #{zoneGoodsId,jdbcType=INTEGER},
      </if>
      <if test="qty != null">
        qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="buCode != null">
        bu_code = #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="currentUser != null">
        last_updated_by = #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = now(),
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where member_cart_id = #{memberCartId,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.eshop.serviceapp.model.MemberCart">
    update mc_member_cart
    set member_id = #{memberId,jdbcType=INTEGER},
      zone_goods_id = #{zoneGoodsId,jdbcType=INTEGER},
      qty = #{qty,jdbcType=INTEGER},
      bu_code = #{buCode,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      row_id = #{rowId,jdbcType=VARCHAR}
    where member_cart_id = #{memberCartId,jdbcType=INTEGER}
  </update>
  <sql id="Base_Query_Cause">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="memberCartId != null">
         and t.member_cart_id = #{memberCartId,jdbcType=INTEGER}
      </if>
      <if test="memberId != null">
         and t.member_id = #{memberId,jdbcType=INTEGER}
      </if>
      <if test="zoneGoodsId != null">
         and t.zone_goods_id = #{zoneGoodsId,jdbcType=INTEGER}
      </if>
      <if test="qty != null">
         and t.qty = #{qty,jdbcType=INTEGER}
      </if>
      <if test="buCode != null">
         and t.bu_code = #{buCode,jdbcType=VARCHAR}
      </if>
      <if test="createdBy != null">
         and t.created_by = #{createdBy,jdbcType=VARCHAR}
      </if>
      <if test="createdDate != null">
         and t.created_date = #{createdDate,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </sql>
  <select id="getAll" resultMap="BaseResultMap">
    select t.* from mc_member_cart t
  </select>
  <select id="getList" parameterType="com.eshop.serviceapp.model.MemberCart" resultMap="BaseResultMap">
    select t.* from mc_member_cart t
    <include refid="Base_Query_Cause" />
  </select>
  <select id="getPageList" parameterType="com.eshop.serviceapp.model.MemberCart" resultMap="BaseResultMap">
    select t.* from mc_member_cart t
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryPageList" parameterType="com.eshop.serviceapp.model.MemberCart" resultMap="BaseResultMap" useCache="false">
    select t.* from mc_member_cart t
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryList" parameterType="com.eshop.serviceapp.model.MemberCart" resultMap="BaseResultMap" useCache="false">
    select t.* from mc_member_cart t
    <include refid="Base_Query_Cause" />
  </select>

  <select id="queryCartList" parameterType="com.eshop.serviceapp.model.MemberCart" resultMap="voResultMap" useCache="false">
    select t.*,a.zone_code,c.goods_model_name,b.goods_name,b.goods_code,b.goods_brief,c.price, d.media_url from mc_member_cart t
    LEFT JOIN sh_zone_goods a ON a.zone_goods_id = t.zone_goods_id
    LEFT JOIN sh_goods b ON b.goods_id = a.goods_id
    LEFT JOIN sh_goods_model c ON c.goods_model_id = a.goods_model_id
    LEFT JOIN sh_goods_media d ON d.goods_model_id = c.goods_model_id
    where t.member_id = #{memberId,jdbcType=INTEGER}
    GROUP BY member_cart_id
  </select>

  <select id="getCount" parameterType="java.lang.Integer" resultType="java.lang.Integer" useCache="false">
    select count(1) from mc_member_cart where member_id = #{memberId,jdbcType=INTEGER}
  </select>

  <cache type="com.eshop.serviceapp.redis.MybatisRedisCache" />
</mapper>