<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshop.serviceapp.mapper.MemberGradeMapper">
  <resultMap id="BaseResultMap" type="com.eshop.serviceapp.model.MemberGrade">
    <id column="grade_code" jdbcType="VARCHAR" property="gradeCode" />
    <result column="grade_name" jdbcType="VARCHAR" property="gradeName" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="is_active" jdbcType="BIT" property="isActive" />
    <result column="inactive_date" jdbcType="DATE" property="inactiveDate" />
    <result column="annual_fee" jdbcType="DECIMAL" property="annualFee" />
    <result column="one_time_recharge" jdbcType="DECIMAL" property="oneTimeRecharge" />
    <result column="umbrella_member_num" jdbcType="INTEGER" property="umbrellaMemberNum" />
    <result column="umbrella_area_num" jdbcType="INTEGER" property="umbrellaAreaNum" />
    <result column="referee_member_amt" jdbcType="DECIMAL" property="refereeMemberAmt" />
    <result column="referee_member_renew_amt" jdbcType="DECIMAL" property="refereeMemberRenewAmt" />
    <result column="referee_maker_amt" jdbcType="DECIMAL" property="refereeMakerAmt" />
    <result column="direct_member" jdbcType="INTEGER" property="directMember" />
    <result column="umbrella_level_member" jdbcType="INTEGER" property="umbrellaLevelMember" />
    <result column="umbrella_member" jdbcType="INTEGER" property="umbrellaMember" />
    <result column="achievement" jdbcType="INTEGER" property="achievement" />
    <result column="project" jdbcType="INTEGER" property="project" />
    <result column="physical_store" jdbcType="INTEGER" property="physicalStore" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="TIMESTAMP" property="lastUpdatedDate" />
    <result column="row_id" jdbcType="VARCHAR" property="rowId" />
  </resultMap>
  <sql id="Base_Column_List">
    grade_code, grade_name, remarks, is_active, inactive_date, annual_fee, one_time_recharge, 
    umbrella_member_num, umbrella_area_num, referee_member_amt, referee_member_renew_amt, 
    referee_maker_amt, direct_member, umbrella_level_member, umbrella_member, achievement, 
    project, physical_store, created_by, created_date, last_updated_by, last_updated_date, 
    row_id
  </sql>
  <select id="getOne" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mc_member_grade
    where grade_code = #{gradeCode,jdbcType=VARCHAR}
  </select>
  <delete id="delete" parameterType="java.lang.String">
    delete from mc_member_grade
    where grade_code = #{gradeCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByLock" parameterType="com.eshop.serviceapp.vo.DeleteVO">
    delete from mc_member_grade
    where grade_code = #{id,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eshop.serviceapp.model.MemberGrade">
    insert into mc_member_grade (grade_code, grade_name, remarks, 
      is_active, inactive_date, annual_fee, 
      one_time_recharge, umbrella_member_num, umbrella_area_num, 
      referee_member_amt, referee_member_renew_amt, 
      referee_maker_amt, direct_member, umbrella_level_member, 
      umbrella_member, achievement, project, 
      physical_store, created_by, created_date, 
      last_updated_by, last_updated_date, row_id
      )
    values (#{gradeCode,jdbcType=VARCHAR}, #{gradeName,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{isActive,jdbcType=BIT}, #{inactiveDate,jdbcType=DATE}, #{annualFee,jdbcType=DECIMAL}, 
      #{oneTimeRecharge,jdbcType=DECIMAL}, #{umbrellaMemberNum,jdbcType=INTEGER}, #{umbrellaAreaNum,jdbcType=INTEGER}, 
      #{refereeMemberAmt,jdbcType=DECIMAL}, #{refereeMemberRenewAmt,jdbcType=DECIMAL}, 
      #{refereeMakerAmt,jdbcType=DECIMAL}, #{directMember,jdbcType=INTEGER}, #{umbrellaLevelMember,jdbcType=INTEGER}, 
      #{umbrellaMember,jdbcType=INTEGER}, #{achievement,jdbcType=INTEGER}, #{project,jdbcType=INTEGER}, 
      #{physicalStore,jdbcType=INTEGER}, #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP},
      #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdatedDate,jdbcType=TIMESTAMP}, #{rowId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertActive" parameterType="com.eshop.serviceapp.model.MemberGrade">
    insert into mc_member_grade
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gradeCode != null">
        grade_code,
      </if>
      <if test="gradeName != null">
        grade_name,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="inactiveDate != null">
        inactive_date,
      </if>
      <if test="annualFee != null">
        annual_fee,
      </if>
      <if test="oneTimeRecharge != null">
        one_time_recharge,
      </if>
      <if test="umbrellaMemberNum != null">
        umbrella_member_num,
      </if>
      <if test="umbrellaAreaNum != null">
        umbrella_area_num,
      </if>
      <if test="refereeMemberAmt != null">
        referee_member_amt,
      </if>
      <if test="refereeMemberRenewAmt != null">
        referee_member_renew_amt,
      </if>
      <if test="refereeMakerAmt != null">
        referee_maker_amt,
      </if>
      <if test="directMember != null">
        direct_member,
      </if>
      <if test="umbrellaLevelMember != null">
        umbrella_level_member,
      </if>
      <if test="umbrellaMember != null">
        umbrella_member,
      </if>
      <if test="achievement != null">
        achievement,
      </if>
      <if test="project != null">
        project,
      </if>
      <if test="physicalStore != null">
        physical_store,
      </if>
      <if test="currentUser != null">
        created_by,
      </if>
      <if test="createdDate == null">
        created_date,
      </if>
      <if test="lastUpdatedBy == null">
        last_updated_by,
      </if>
      <if test="lastUpdatedDate == null">
        last_updated_date,
      </if>
      row_id,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gradeCode != null">
        #{gradeCode,jdbcType=VARCHAR},
      </if>
      <if test="gradeName != null">
        #{gradeName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=BIT},
      </if>
      <if test="inactiveDate != null">
        #{inactiveDate,jdbcType=DATE},
      </if>
      <if test="annualFee != null">
        #{annualFee,jdbcType=DECIMAL},
      </if>
      <if test="oneTimeRecharge != null">
        #{oneTimeRecharge,jdbcType=DECIMAL},
      </if>
      <if test="umbrellaMemberNum != null">
        #{umbrellaMemberNum,jdbcType=INTEGER},
      </if>
      <if test="umbrellaAreaNum != null">
        #{umbrellaAreaNum,jdbcType=INTEGER},
      </if>
      <if test="refereeMemberAmt != null">
        #{refereeMemberAmt,jdbcType=DECIMAL},
      </if>
      <if test="refereeMemberRenewAmt != null">
        #{refereeMemberRenewAmt,jdbcType=DECIMAL},
      </if>
      <if test="refereeMakerAmt != null">
        #{refereeMakerAmt,jdbcType=DECIMAL},
      </if>
      <if test="directMember != null">
        #{directMember,jdbcType=INTEGER},
      </if>
      <if test="umbrellaLevelMember != null">
        #{umbrellaLevelMember,jdbcType=INTEGER},
      </if>
      <if test="umbrellaMember != null">
        #{umbrellaMember,jdbcType=INTEGER},
      </if>
      <if test="achievement != null">
        #{achievement,jdbcType=INTEGER},
      </if>
      <if test="project != null">
        #{project,jdbcType=INTEGER},
      </if>
      <if test="physicalStore != null">
        #{physicalStore,jdbcType=INTEGER},
      </if>
      <if test="currentUser != null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="createdDate == null">
        now(),
      </if>
      <if test="lastUpdatedBy == null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate == null">
        now(),
      </if>
      <if test="rowId == null">
        uuid(),
      </if>
      <if test="rowId != null">
        #{rowId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateActive" parameterType="com.eshop.serviceapp.model.MemberGrade">
    update mc_member_grade
    <set>
      <if test="gradeName != null">
        grade_name = #{gradeName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=BIT},
      </if>
      <if test="inactiveDate != null">
        inactive_date = #{inactiveDate,jdbcType=DATE},
      </if>
      <if test="annualFee != null">
        annual_fee = #{annualFee,jdbcType=DECIMAL},
      </if>
      <if test="oneTimeRecharge != null">
        one_time_recharge = #{oneTimeRecharge,jdbcType=DECIMAL},
      </if>
      <if test="umbrellaMemberNum != null">
        umbrella_member_num = #{umbrellaMemberNum,jdbcType=INTEGER},
      </if>
      <if test="umbrellaAreaNum != null">
        umbrella_area_num = #{umbrellaAreaNum,jdbcType=INTEGER},
      </if>
      <if test="refereeMemberAmt != null">
        referee_member_amt = #{refereeMemberAmt,jdbcType=DECIMAL},
      </if>
      <if test="refereeMemberRenewAmt != null">
        referee_member_renew_amt = #{refereeMemberRenewAmt,jdbcType=DECIMAL},
      </if>
      <if test="refereeMakerAmt != null">
        referee_maker_amt = #{refereeMakerAmt,jdbcType=DECIMAL},
      </if>
      <if test="directMember != null">
        direct_member = #{directMember,jdbcType=INTEGER},
      </if>
      <if test="umbrellaLevelMember != null">
        umbrella_level_member = #{umbrellaLevelMember,jdbcType=INTEGER},
      </if>
      <if test="umbrellaMember != null">
        umbrella_member = #{umbrellaMember,jdbcType=INTEGER},
      </if>
      <if test="achievement != null">
        achievement = #{achievement,jdbcType=INTEGER},
      </if>
      <if test="project != null">
        project = #{project,jdbcType=INTEGER},
      </if>
      <if test="physicalStore != null">
        physical_store = #{physicalStore,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where grade_code = #{gradeCode,jdbcType=VARCHAR}
  </update>
  <update id="updateActiveByLock" parameterType="com.eshop.serviceapp.model.MemberGrade">
    update mc_member_grade
    <set>
      <if test="gradeName != null">
        grade_name = #{gradeName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=BIT},
      </if>
      <if test="inactiveDate != null">
        inactive_date = #{inactiveDate,jdbcType=DATE},
      </if>
      <if test="annualFee != null">
        annual_fee = #{annualFee,jdbcType=DECIMAL},
      </if>
      <if test="oneTimeRecharge != null">
        one_time_recharge = #{oneTimeRecharge,jdbcType=DECIMAL},
      </if>
      <if test="umbrellaMemberNum != null">
        umbrella_member_num = #{umbrellaMemberNum,jdbcType=INTEGER},
      </if>
      <if test="umbrellaAreaNum != null">
        umbrella_area_num = #{umbrellaAreaNum,jdbcType=INTEGER},
      </if>
      <if test="refereeMemberAmt != null">
        referee_member_amt = #{refereeMemberAmt,jdbcType=DECIMAL},
      </if>
      <if test="refereeMemberRenewAmt != null">
        referee_member_renew_amt = #{refereeMemberRenewAmt,jdbcType=DECIMAL},
      </if>
      <if test="refereeMakerAmt != null">
        referee_maker_amt = #{refereeMakerAmt,jdbcType=DECIMAL},
      </if>
      <if test="directMember != null">
        direct_member = #{directMember,jdbcType=INTEGER},
      </if>
      <if test="umbrellaLevelMember != null">
        umbrella_level_member = #{umbrellaLevelMember,jdbcType=INTEGER},
      </if>
      <if test="umbrellaMember != null">
        umbrella_member = #{umbrellaMember,jdbcType=INTEGER},
      </if>
      <if test="achievement != null">
        achievement = #{achievement,jdbcType=INTEGER},
      </if>
      <if test="project != null">
        project = #{project,jdbcType=INTEGER},
      </if>
      <if test="physicalStore != null">
        physical_store = #{physicalStore,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="currentUser != null">
        last_updated_by = #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = now(),
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where grade_code = #{gradeCode,jdbcType=VARCHAR}
    and last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.eshop.serviceapp.model.MemberGrade">
    update mc_member_grade
    set grade_name = #{gradeName,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      is_active = #{isActive,jdbcType=BIT},
      inactive_date = #{inactiveDate,jdbcType=DATE},
      annual_fee = #{annualFee,jdbcType=DECIMAL},
      one_time_recharge = #{oneTimeRecharge,jdbcType=DECIMAL},
      umbrella_member_num = #{umbrellaMemberNum,jdbcType=INTEGER},
      umbrella_area_num = #{umbrellaAreaNum,jdbcType=INTEGER},
      referee_member_amt = #{refereeMemberAmt,jdbcType=DECIMAL},
      referee_member_renew_amt = #{refereeMemberRenewAmt,jdbcType=DECIMAL},
      referee_maker_amt = #{refereeMakerAmt,jdbcType=DECIMAL},
      direct_member = #{directMember,jdbcType=INTEGER},
      umbrella_level_member = #{umbrellaLevelMember,jdbcType=INTEGER},
      umbrella_member = #{umbrellaMember,jdbcType=INTEGER},
      achievement = #{achievement,jdbcType=INTEGER},
      project = #{project,jdbcType=INTEGER},
      physical_store = #{physicalStore,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      row_id = #{rowId,jdbcType=VARCHAR}
    where grade_code = #{gradeCode,jdbcType=VARCHAR}
  </update>
  <sql id="Base_Query_Cause">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="gradeCode != null">
         and grade_code = #{gradeCode,jdbcType=VARCHAR}
      </if>
      <if test="gradeName != null">
         and grade_name = #{gradeName,jdbcType=VARCHAR}
      </if>
      <if test="remarks != null">
         and remarks = #{remarks,jdbcType=VARCHAR}
      </if>
      <if test="isActive != null">
         and is_active = #{isActive,jdbcType=BIT}
      </if>
      <if test="inactiveDate != null">
         and inactive_date = #{inactiveDate,jdbcType=DATE}
      </if>
      <if test="annualFee != null">
         and annual_fee = #{annualFee,jdbcType=DECIMAL}
      </if>
      <if test="oneTimeRecharge != null">
         and one_time_recharge = #{oneTimeRecharge,jdbcType=DECIMAL}
      </if>
      <if test="umbrellaMemberNum != null">
         and umbrella_member_num = #{umbrellaMemberNum,jdbcType=INTEGER}
      </if>
      <if test="umbrellaAreaNum != null">
         and umbrella_area_num = #{umbrellaAreaNum,jdbcType=INTEGER}
      </if>
      <if test="refereeMemberAmt != null">
         and referee_member_amt = #{refereeMemberAmt,jdbcType=DECIMAL}
      </if>
      <if test="refereeMemberRenewAmt != null">
         and referee_member_renew_amt = #{refereeMemberRenewAmt,jdbcType=DECIMAL}
      </if>
      <if test="refereeMakerAmt != null">
         and referee_maker_amt = #{refereeMakerAmt,jdbcType=DECIMAL}
      </if>
      <if test="directMember != null">
         and direct_member = #{directMember,jdbcType=INTEGER}
      </if>
      <if test="umbrellaLevelMember != null">
         and umbrella_level_member = #{umbrellaLevelMember,jdbcType=INTEGER}
      </if>
      <if test="umbrellaMember != null">
         and umbrella_member = #{umbrellaMember,jdbcType=INTEGER}
      </if>
      <if test="achievement != null">
         and achievement = #{achievement,jdbcType=INTEGER}
      </if>
      <if test="project != null">
         and project = #{project,jdbcType=INTEGER}
      </if>
      <if test="physicalStore != null">
         and physical_store = #{physicalStore,jdbcType=INTEGER}
      </if>
      <if test="createdBy != null">
         and created_by = #{createdBy,jdbcType=VARCHAR}
      </if>
      <if test="createdDate != null">
         and created_date = #{createdDate,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </sql>
  <select id="getAll" resultMap="BaseResultMap">
    select * from mc_member_grade
  </select>
  <select id="getList" parameterType="com.eshop.serviceapp.model.MemberGrade" resultMap="BaseResultMap">
    select * from mc_member_grade
    <include refid="Base_Query_Cause" />
  </select>
  <select id="getPageList" parameterType="com.eshop.serviceapp.model.MemberGrade" resultMap="BaseResultMap">
    select * from mc_member_grade
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryPageList" parameterType="com.eshop.serviceapp.model.MemberGrade" resultMap="BaseResultMap" useCache="false">
    select * from mc_member_grade
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryList" parameterType="com.eshop.serviceapp.model.MemberGrade" resultMap="BaseResultMap" useCache="false">
    select * from mc_member_grade
    <include refid="Base_Query_Cause" />
  </select>
  <cache type="com.eshop.serviceapp.redis.MybatisRedisCache" />
</mapper>