<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshop.serviceapp.mapper.MemberBpHistoryMapper">
  <resultMap id="BaseResultMap" type="com.eshop.serviceapp.model.MemberBpHistory">
    <id column="integration_id" jdbcType="INTEGER" property="integrationId" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="integration" jdbcType="INTEGER" property="integration" />
    <result column="pre_integration" jdbcType="INTEGER" property="preIntegration" />
    <result column="after_integration" jdbcType="INTEGER" property="afterIntegration" />
    <result column="event_time" jdbcType="DATE" property="eventTime" />
    <result column="event_type" jdbcType="VARCHAR" property="eventType" />
    <result column="event_by" jdbcType="VARCHAR" property="eventBy" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="TIMESTAMP" property="lastUpdatedDate" />
    <result column="row_id" jdbcType="VARCHAR" property="rowId" />
  </resultMap>
  <sql id="Base_Column_List">
    integration_id, member_id, integration, pre_integration, after_integration, event_time, 
    event_type, event_by, created_by, created_date, last_updated_by, last_updated_date, 
    row_id
  </sql>
  <select id="getOne" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mc_member_bp_history
    where integration_id = #{integrationId,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from mc_member_bp_history
    where integration_id = #{integrationId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByLock" parameterType="com.eshop.serviceapp.vo.DeleteVO">
    delete from mc_member_bp_history
    where integration_id = #{id,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eshop.serviceapp.model.MemberBpHistory">
    insert into mc_member_bp_history (integration_id, member_id, integration, 
      pre_integration, after_integration, event_time, 
      event_type, event_by, created_by, 
      created_date, last_updated_by, last_updated_date, 
      row_id)
    values (#{integrationId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{integration,jdbcType=INTEGER}, 
      #{preIntegration,jdbcType=INTEGER}, #{afterIntegration,jdbcType=INTEGER}, #{eventTime,jdbcType=DATE}, 
      #{eventType,jdbcType=VARCHAR}, #{eventBy,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdatedDate,jdbcType=TIMESTAMP},
      #{rowId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertActive" parameterType="com.eshop.serviceapp.model.MemberBpHistory">
    insert into mc_member_bp_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="integrationId != null">
        integration_id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="integration != null">
        integration,
      </if>
      <if test="preIntegration != null">
        pre_integration,
      </if>
      <if test="afterIntegration != null">
        after_integration,
      </if>
      <if test="eventTime != null">
        event_time,
      </if>
      <if test="eventType != null">
        event_type,
      </if>
      <if test="eventBy != null">
        event_by,
      </if>
      <if test="currentUser != null">
        created_by,
      </if>
      <if test="createdDate == null">
        created_date,
      </if>
      <if test="lastUpdatedBy == null">
        last_updated_by,
      </if>
      <if test="lastUpdatedDate == null">
        last_updated_date,
      </if>
      row_id,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="integrationId != null">
        #{integrationId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="integration != null">
        #{integration,jdbcType=INTEGER},
      </if>
      <if test="preIntegration != null">
        #{preIntegration,jdbcType=INTEGER},
      </if>
      <if test="afterIntegration != null">
        #{afterIntegration,jdbcType=INTEGER},
      </if>
      <if test="eventTime != null">
        #{eventTime,jdbcType=DATE},
      </if>
      <if test="eventType != null">
        #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="eventBy != null">
        #{eventBy,jdbcType=VARCHAR},
      </if>
      <if test="currentUser != null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="createdDate == null">
        now(),
      </if>
      <if test="lastUpdatedBy == null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate == null">
        now(),
      </if>
      <if test="rowId == null">
        uuid(),
      </if>
      <if test="rowId != null">
        #{rowId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateActive" parameterType="com.eshop.serviceapp.model.MemberBpHistory">
    update mc_member_bp_history
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="integration != null">
        integration = #{integration,jdbcType=INTEGER},
      </if>
      <if test="preIntegration != null">
        pre_integration = #{preIntegration,jdbcType=INTEGER},
      </if>
      <if test="afterIntegration != null">
        after_integration = #{afterIntegration,jdbcType=INTEGER},
      </if>
      <if test="eventTime != null">
        event_time = #{eventTime,jdbcType=DATE},
      </if>
      <if test="eventType != null">
        event_type = #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="eventBy != null">
        event_by = #{eventBy,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where integration_id = #{integrationId,jdbcType=INTEGER}
  </update>
  <update id="updateActiveByLock" parameterType="com.eshop.serviceapp.model.MemberBpHistory">
    update mc_member_bp_history
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="integration != null">
        integration = #{integration,jdbcType=INTEGER},
      </if>
      <if test="preIntegration != null">
        pre_integration = #{preIntegration,jdbcType=INTEGER},
      </if>
      <if test="afterIntegration != null">
        after_integration = #{afterIntegration,jdbcType=INTEGER},
      </if>
      <if test="eventTime != null">
        event_time = #{eventTime,jdbcType=DATE},
      </if>
      <if test="eventType != null">
        event_type = #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="eventBy != null">
        event_by = #{eventBy,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="currentUser != null">
        last_updated_by = #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = now(),
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where integration_id = #{integrationId,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.eshop.serviceapp.model.MemberBpHistory">
    update mc_member_bp_history
    set member_id = #{memberId,jdbcType=INTEGER},
      integration = #{integration,jdbcType=INTEGER},
      pre_integration = #{preIntegration,jdbcType=INTEGER},
      after_integration = #{afterIntegration,jdbcType=INTEGER},
      event_time = #{eventTime,jdbcType=DATE},
      event_type = #{eventType,jdbcType=VARCHAR},
      event_by = #{eventBy,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      row_id = #{rowId,jdbcType=VARCHAR}
    where integration_id = #{integrationId,jdbcType=INTEGER}
  </update>
  <sql id="Base_Query_Cause">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="integrationId != null">
         and integration_id = #{integrationId,jdbcType=INTEGER}
      </if>
      <if test="memberId != null">
         and member_id = #{memberId,jdbcType=INTEGER}
      </if>
      <if test="integration != null">
         and integration = #{integration,jdbcType=INTEGER}
      </if>
      <if test="preIntegration != null">
         and pre_integration = #{preIntegration,jdbcType=INTEGER}
      </if>
      <if test="afterIntegration != null">
         and after_integration = #{afterIntegration,jdbcType=INTEGER}
      </if>
      <if test="eventTime != null">
         and event_time = #{eventTime,jdbcType=DATE}
      </if>
      <if test="eventType != null">
         and event_type = #{eventType,jdbcType=VARCHAR}
      </if>
      <if test="eventBy != null">
         and event_by = #{eventBy,jdbcType=VARCHAR}
      </if>
      <if test="createdBy != null">
         and created_by = #{createdBy,jdbcType=VARCHAR}
      </if>
      <if test="createdDate != null">
         and created_date = #{createdDate,jdbcType=TIMESTAMP}
      </if>
      <if test="lastUpdatedBy != null">
         and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
      </if>
      <if test="lastUpdatedDate != null">
         and last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
      </if>
      <if test="rowId != null">
         and row_id = #{rowId,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <select id="getAll" resultMap="BaseResultMap">
    select * from mc_member_bp_history
  </select>
  <select id="getList" parameterType="com.eshop.serviceapp.model.MemberBpHistory" resultMap="BaseResultMap">
    select * from mc_member_bp_history
    <include refid="Base_Query_Cause" />
  </select>
  <select id="getPageList" parameterType="com.eshop.serviceapp.model.MemberBpHistory" resultMap="BaseResultMap">
    select * from mc_member_bp_history
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryPageList" parameterType="com.eshop.serviceapp.model.MemberBpHistory" resultMap="BaseResultMap" useCache="false">
    select * from mc_member_bp_history
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryList" parameterType="com.eshop.serviceapp.model.MemberBpHistory" resultMap="BaseResultMap" useCache="false">
    select * from mc_member_bp_history
    <include refid="Base_Query_Cause" />
  </select>
  <cache type="com.eshop.serviceapp.redis.MybatisRedisCache" />
</mapper>