<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshop.serviceweb.mapper.MemberRebateMapper">
  <resultMap id="BaseResultMap" type="com.eshop.serviceweb.model.MemberRebate">
    <id column="rebate_id" jdbcType="INTEGER" property="rebateId" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="rebate" jdbcType="INTEGER" property="rebate" />
    <result column="rebate_cycle" jdbcType="INTEGER" property="rebateCycle" />
    <result column="rebate_ratio" jdbcType="INTEGER" property="rebateRatio" />
    <result column="max_order_num" jdbcType="INTEGER" property="maxOrderNum" />
    <result column="rebate_ratio_each" jdbcType="INTEGER" property="rebateRatioEach" />
    <result column="discount" jdbcType="INTEGER" property="discount" />
    <result column="is_active" jdbcType="BIT" property="isActive" />
    <result column="inactive_date" jdbcType="DATE" property="inactiveDate" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="DATE" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="DATE" property="lastUpdatedDate" />
    <result column="row_id" jdbcType="VARCHAR" property="rowId" />
  </resultMap>
  <sql id="Base_Column_List">
    rebate_id, member_id, rebate, rebate_cycle, rebate_ratio, max_order_num, rebate_ratio_each, 
    discount, is_active, inactive_date, created_by, created_date, last_updated_by, last_updated_date, 
    row_id
  </sql>
  <select id="getOne" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mc_member_rebate
    where rebate_id = #{rebateId,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from mc_member_rebate
    where rebate_id = #{rebateId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByLock" parameterType="com.eshop.serviceweb.vo.DeleteVO">
    delete from mc_member_rebate
    where rebate_id = #{id,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eshop.serviceweb.model.MemberRebate">
    insert into mc_member_rebate (rebate_id, member_id, rebate, 
      rebate_cycle, rebate_ratio, max_order_num, 
      rebate_ratio_each, discount, is_active, 
      inactive_date, created_by, created_date, 
      last_updated_by, last_updated_date, row_id
      )
    values (#{rebateId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{rebate,jdbcType=INTEGER}, 
      #{rebateCycle,jdbcType=INTEGER}, #{rebateRatio,jdbcType=INTEGER}, #{maxOrderNum,jdbcType=INTEGER}, 
      #{rebateRatioEach,jdbcType=INTEGER}, #{discount,jdbcType=INTEGER}, #{isActive,jdbcType=BIT}, 
      #{inactiveDate,jdbcType=DATE}, #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=DATE}, 
      #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdatedDate,jdbcType=DATE}, #{rowId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertActive" parameterType="com.eshop.serviceweb.model.MemberRebate">
    insert into mc_member_rebate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rebateId != null">
        rebate_id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="rebate != null">
        rebate,
      </if>
      <if test="rebateCycle != null">
        rebate_cycle,
      </if>
      <if test="rebateRatio != null">
        rebate_ratio,
      </if>
      <if test="maxOrderNum != null">
        max_order_num,
      </if>
      <if test="rebateRatioEach != null">
        rebate_ratio_each,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="inactiveDate != null">
        inactive_date,
      </if>
      <if test="currentUser != null">
        created_by,
      </if>
      <if test="createdDate == null">
        created_date,
      </if>
      <if test="lastUpdatedBy == null">
        last_updated_by,
      </if>
      <if test="lastUpdatedDate == null">
        last_updated_date,
      </if>
      <if test="rowId != null">
        row_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rebateId != null">
        #{rebateId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="rebate != null">
        #{rebate,jdbcType=INTEGER},
      </if>
      <if test="rebateCycle != null">
        #{rebateCycle,jdbcType=INTEGER},
      </if>
      <if test="rebateRatio != null">
        #{rebateRatio,jdbcType=INTEGER},
      </if>
      <if test="maxOrderNum != null">
        #{maxOrderNum,jdbcType=INTEGER},
      </if>
      <if test="rebateRatioEach != null">
        #{rebateRatioEach,jdbcType=INTEGER},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=INTEGER},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=BIT},
      </if>
      <if test="inactiveDate != null">
        #{inactiveDate,jdbcType=DATE},
      </if>
      <if test="currentUser != null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="createdDate == null">
        now(),
      </if>
      <if test="lastUpdatedBy == null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate == null">
        now(),
      </if>
      <if test="rowId != null">
        #{rowId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateActive" parameterType="com.eshop.serviceweb.model.MemberRebate">
    update mc_member_rebate
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="rebate != null">
        rebate = #{rebate,jdbcType=INTEGER},
      </if>
      <if test="rebateCycle != null">
        rebate_cycle = #{rebateCycle,jdbcType=INTEGER},
      </if>
      <if test="rebateRatio != null">
        rebate_ratio = #{rebateRatio,jdbcType=INTEGER},
      </if>
      <if test="maxOrderNum != null">
        max_order_num = #{maxOrderNum,jdbcType=INTEGER},
      </if>
      <if test="rebateRatioEach != null">
        rebate_ratio_each = #{rebateRatioEach,jdbcType=INTEGER},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=INTEGER},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=BIT},
      </if>
      <if test="inactiveDate != null">
        inactive_date = #{inactiveDate,jdbcType=DATE},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=DATE},
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = #{lastUpdatedDate,jdbcType=DATE},
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where rebate_id = #{rebateId,jdbcType=INTEGER}
  </update>
  <update id="updateActiveByLock" parameterType="com.eshop.serviceweb.model.MemberRebate">
    update mc_member_rebate
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="rebate != null">
        rebate = #{rebate,jdbcType=INTEGER},
      </if>
      <if test="rebateCycle != null">
        rebate_cycle = #{rebateCycle,jdbcType=INTEGER},
      </if>
      <if test="rebateRatio != null">
        rebate_ratio = #{rebateRatio,jdbcType=INTEGER},
      </if>
      <if test="maxOrderNum != null">
        max_order_num = #{maxOrderNum,jdbcType=INTEGER},
      </if>
      <if test="rebateRatioEach != null">
        rebate_ratio_each = #{rebateRatioEach,jdbcType=INTEGER},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=INTEGER},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=BIT},
      </if>
      <if test="inactiveDate != null">
        inactive_date = #{inactiveDate,jdbcType=DATE},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=DATE},
      </if>
      <if test="currentUser != null">
        last_updated_by = #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = now(),
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where rebate_id = #{rebateId,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.eshop.serviceweb.model.MemberRebate">
    update mc_member_rebate
    set member_id = #{memberId,jdbcType=INTEGER},
      rebate = #{rebate,jdbcType=INTEGER},
      rebate_cycle = #{rebateCycle,jdbcType=INTEGER},
      rebate_ratio = #{rebateRatio,jdbcType=INTEGER},
      max_order_num = #{maxOrderNum,jdbcType=INTEGER},
      rebate_ratio_each = #{rebateRatioEach,jdbcType=INTEGER},
      discount = #{discount,jdbcType=INTEGER},
      is_active = #{isActive,jdbcType=BIT},
      inactive_date = #{inactiveDate,jdbcType=DATE},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=DATE},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=DATE},
      row_id = #{rowId,jdbcType=VARCHAR}
    where rebate_id = #{rebateId,jdbcType=INTEGER}
  </update>
  <sql id="Base_Query_Cause">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="rebateId != null">
         and rebate_id = #{rebateId,jdbcType=INTEGER}
      </if>
      <if test="memberId != null">
         and member_id = #{memberId,jdbcType=INTEGER}
      </if>
      <if test="rebate != null">
         and rebate = #{rebate,jdbcType=INTEGER}
      </if>
      <if test="rebateCycle != null">
         and rebate_cycle = #{rebateCycle,jdbcType=INTEGER}
      </if>
      <if test="rebateRatio != null">
         and rebate_ratio = #{rebateRatio,jdbcType=INTEGER}
      </if>
      <if test="maxOrderNum != null">
         and max_order_num = #{maxOrderNum,jdbcType=INTEGER}
      </if>
      <if test="rebateRatioEach != null">
         and rebate_ratio_each = #{rebateRatioEach,jdbcType=INTEGER}
      </if>
      <if test="discount != null">
         and discount = #{discount,jdbcType=INTEGER}
      </if>
      <if test="isActive != null">
         and is_active = #{isActive,jdbcType=BIT}
      </if>
      <if test="inactiveDate != null">
         and inactive_date = #{inactiveDate,jdbcType=DATE}
      </if>
      <if test="createdBy != null">
         and created_by = #{createdBy,jdbcType=VARCHAR}
      </if>
      <if test="createdDate != null">
         and created_date = #{createdDate,jdbcType=DATE}
      </if>
      <if test="lastUpdatedBy != null">
         and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
      </if>
      <if test="lastUpdatedDate != null">
         and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
      </if>
      <if test="rowId != null">
         and row_id = #{rowId,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <select id="getAll" resultMap="BaseResultMap">
    select * from mc_member_rebate
  </select>
  <select id="getList" parameterType="com.eshop.serviceweb.model.MemberRebate" resultMap="BaseResultMap">
    select * from mc_member_rebate
    <include refid="Base_Query_Cause" />
  </select>
  <select id="getPageList" parameterType="com.eshop.serviceweb.model.MemberRebate" resultMap="BaseResultMap">
    select * from mc_member_rebate
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryPageList" parameterType="com.eshop.serviceweb.model.MemberRebate" resultMap="BaseResultMap" useCache="false">
    select * from mc_member_rebate
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryList" parameterType="com.eshop.serviceweb.model.MemberRebate" resultMap="BaseResultMap" useCache="false">
    select * from mc_member_rebate
    <include refid="Base_Query_Cause" />
  </select>
  <cache type="com.eshop.serviceweb.redis.MybatisRedisCache" />
</mapper>