<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshop.serviceapp.mapper.MemberMpDetailsMapper">
  <resultMap id="BaseResultMap" type="com.eshop.serviceapp.model.MemberMpDetails">
    <id column="member_mp_details_id" jdbcType="INTEGER" property="memberMpDetailsId" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="trans_id" jdbcType="INTEGER" property="transId" />
    <result column="mp_amt" jdbcType="INTEGER" property="mpAmt" />
    <result column="mp_bal" jdbcType="INTEGER" property="mpBal" />
    <result column="effective_date" jdbcType="DATE" property="effectiveDate" />
    <result column="bu_code" jdbcType="VARCHAR" property="buCode" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="TIMESTAMP" property="lastUpdatedDate" />
    <result column="row_id" jdbcType="VARCHAR" property="rowId" />
  </resultMap>
  <sql id="Base_Column_List">
    member_mp_details_id, member_id, trans_id, mp_amt, mp_bal, effective_date, bu_code, 
    created_by, created_date, last_updated_by, last_updated_date, row_id
  </sql>
  <select id="getOne" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mc_member_mp_details
    where member_mp_details_id = #{memberMpDetailsId,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from mc_member_mp_details
    where member_mp_details_id = #{memberMpDetailsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByLock" parameterType="com.eshop.serviceapp.vo.DeleteVO">
    delete from mc_member_mp_details
    where member_mp_details_id = #{id,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eshop.serviceapp.model.MemberMpDetails">
    insert into mc_member_mp_details (member_mp_details_id, member_id, trans_id, 
      mp_amt, mp_bal, effective_date, 
      bu_code, created_by, created_date, 
      last_updated_by, last_updated_date, row_id
      )
    values (#{memberMpDetailsId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{transId,jdbcType=INTEGER}, 
      #{mpAmt,jdbcType=INTEGER}, #{mpBal,jdbcType=INTEGER}, #{effectiveDate,jdbcType=DATE}, 
      #{buCode,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdatedDate,jdbcType=TIMESTAMP}, #{rowId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertActive" parameterType="com.eshop.serviceapp.model.MemberMpDetails">
    insert into mc_member_mp_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memberMpDetailsId != null">
        member_mp_details_id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="transId != null">
        trans_id,
      </if>
      <if test="mpAmt != null">
        mp_amt,
      </if>
      <if test="mpBal != null">
        mp_bal,
      </if>
      <if test="effectiveDate != null">
        effective_date,
      </if>
      <if test="buCode != null">
        bu_code,
      </if>
      <if test="currentUser != null">
        created_by,
      </if>
      <if test="createdDate == null">
        created_date,
      </if>
      <if test="lastUpdatedBy == null">
        last_updated_by,
      </if>
      <if test="lastUpdatedDate == null">
        last_updated_date,
      </if>
      <if test="rowId != null">
        row_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memberMpDetailsId != null">
        #{memberMpDetailsId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="transId != null">
        #{transId,jdbcType=INTEGER},
      </if>
      <if test="mpAmt != null">
        #{mpAmt,jdbcType=INTEGER},
      </if>
      <if test="mpBal != null">
        #{mpBal,jdbcType=INTEGER},
      </if>
      <if test="effectiveDate != null">
        #{effectiveDate,jdbcType=DATE},
      </if>
      <if test="buCode != null">
        #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="currentUser != null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="createdDate == null">
        now(),
      </if>
      <if test="lastUpdatedBy == null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate == null">
        now(),
      </if>
      <if test="rowId != null">
        #{rowId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateActive" parameterType="com.eshop.serviceapp.model.MemberMpDetails">
    update mc_member_mp_details
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="transId != null">
        trans_id = #{transId,jdbcType=INTEGER},
      </if>
      <if test="mpAmt != null">
        mp_amt = #{mpAmt,jdbcType=INTEGER},
      </if>
      <if test="mpBal != null">
        mp_bal = #{mpBal,jdbcType=INTEGER},
      </if>
      <if test="effectiveDate != null">
        effective_date = #{effectiveDate,jdbcType=DATE},
      </if>
      <if test="buCode != null">
        bu_code = #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where member_mp_details_id = #{memberMpDetailsId,jdbcType=INTEGER}
  </update>
  <update id="updateActiveByLock" parameterType="com.eshop.serviceapp.model.MemberMpDetails">
    update mc_member_mp_details
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="transId != null">
        trans_id = #{transId,jdbcType=INTEGER},
      </if>
      <if test="mpAmt != null">
        mp_amt = #{mpAmt,jdbcType=INTEGER},
      </if>
      <if test="mpBal != null">
        mp_bal = #{mpBal,jdbcType=INTEGER},
      </if>
      <if test="effectiveDate != null">
        effective_date = #{effectiveDate,jdbcType=DATE},
      </if>
      <if test="buCode != null">
        bu_code = #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="currentUser != null">
        last_updated_by = #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = now(),
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where member_mp_details_id = #{memberMpDetailsId,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.eshop.serviceapp.model.MemberMpDetails">
    update mc_member_mp_details
    set member_id = #{memberId,jdbcType=INTEGER},
      trans_id = #{transId,jdbcType=INTEGER},
      mp_amt = #{mpAmt,jdbcType=INTEGER},
      mp_bal = #{mpBal,jdbcType=INTEGER},
      effective_date = #{effectiveDate,jdbcType=DATE},
      bu_code = #{buCode,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      row_id = #{rowId,jdbcType=VARCHAR}
    where member_mp_details_id = #{memberMpDetailsId,jdbcType=INTEGER}
  </update>
  <sql id="Base_Query_Cause">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="memberMpDetailsId != null">
         and member_mp_details_id = #{memberMpDetailsId,jdbcType=INTEGER}
      </if>
      <if test="memberId != null">
         and member_id = #{memberId,jdbcType=INTEGER}
      </if>
      <if test="transId != null">
         and trans_id = #{transId,jdbcType=INTEGER}
      </if>
      <if test="mpAmt != null">
         and mp_amt = #{mpAmt,jdbcType=INTEGER}
      </if>
      <if test="mpBal != null">
         and mp_bal = #{mpBal,jdbcType=INTEGER}
      </if>
      <if test="effectiveDate != null">
         and effective_date = #{effectiveDate,jdbcType=DATE}
      </if>
      <if test="buCode != null">
         and bu_code = #{buCode,jdbcType=VARCHAR}
      </if>
      <if test="createdBy != null">
         and created_by = #{createdBy,jdbcType=VARCHAR}
      </if>
      <if test="createdDate != null">
         and created_date = #{createdDate,jdbcType=TIMESTAMP}
      </if>
      <if test="lastUpdatedBy != null">
         and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
      </if>
      <if test="lastUpdatedDate != null">
         and last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
      </if>
      <if test="rowId != null">
         and row_id = #{rowId,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <select id="getAll" resultMap="BaseResultMap">
    select * from mc_member_mp_details
  </select>
  <select id="getList" parameterType="com.eshop.serviceapp.model.MemberMpDetails" resultMap="BaseResultMap">
    select * from mc_member_mp_details
    <include refid="Base_Query_Cause" />
  </select>
  <select id="getPageList" parameterType="com.eshop.serviceapp.model.MemberMpDetails" resultMap="BaseResultMap">
    select * from mc_member_mp_details
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryPageList" parameterType="com.eshop.serviceapp.model.MemberMpDetails" resultMap="BaseResultMap" useCache="false">
    select * from mc_member_mp_details
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryList" parameterType="com.eshop.serviceapp.model.MemberMpDetails" resultMap="BaseResultMap" useCache="false">
    select * from mc_member_mp_details
    <include refid="Base_Query_Cause" />
  </select>
  <cache type="com.eshop.serviceapp.redis.MybatisRedisCache" />
</mapper>