<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshop.serviceapp.mapper.ZoneGoodsMapper">
  <resultMap id="BaseResultMap" type="com.eshop.serviceapp.model.ZoneGoods">
    <id column="zone_goods_id" jdbcType="INTEGER" property="zoneGoodsId" />
    <result column="zone_code" jdbcType="VARCHAR" property="zoneCode" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_model_id" jdbcType="INTEGER" property="goodsModelId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="goods_qty" jdbcType="INTEGER" property="goodsQty" />
    <result column="discount_amt" jdbcType="DECIMAL" property="discountAmt" />
    <result column="profit_amt" jdbcType="DECIMAL" property="profitAmt" />
    <result column="rebate_amt" jdbcType="DECIMAL" property="rebateAmt" />
    <result column="is_default" jdbcType="BIT" property="isDefault" />
    <result column="is_show_in_home" jdbcType="BIT" property="isShowInHome" />
    <result column="disp_seq" jdbcType="INTEGER" property="dispSeq" />
    <result column="bu_code" jdbcType="VARCHAR" property="buCode" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="TIMESTAMP" property="lastUpdatedDate" />
    <result column="row_id" jdbcType="VARCHAR" property="rowId" />
  </resultMap>

  <resultMap id="voResultMap" type="map">
    <result column="zone_goods_id" jdbcType="VARCHAR" property="zoneGoodsId" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="media_url" jdbcType="VARCHAR" property="goodsImage" />
    <result column="comment_count" jdbcType="VARCHAR" property="commentCount" />
  </resultMap>

  <resultMap id="detailMap" type="com.eshop.serviceapp.vo.ZoneGoodsDetailVO">
    <result column="zone_goods_id" jdbcType="VARCHAR" property="zoneGoodsId" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="goods_desc" jdbcType="VARCHAR" property="goodsDesc" />
  </resultMap>
  <sql id="Base_Column_List">
    zone_goods_id, zone_code, goods_id, goods_model_id, status, goods_qty, discount_amt, 
    profit_amt, rebate_amt, is_default, is_show_in_home, disp_seq, bu_code, created_by, 
    created_date, last_updated_by, last_updated_date, row_id
  </sql>
  <select id="getOne" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sh_zone_goods
    where zone_goods_id = #{zoneGoodsId,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from sh_zone_goods
    where zone_goods_id = #{zoneGoodsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByLock" parameterType="com.eshop.serviceapp.vo.DeleteVO">
    delete from sh_zone_goods
    where zone_goods_id = #{id,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eshop.serviceapp.model.ZoneGoods">
    insert into sh_zone_goods (zone_goods_id, zone_code, goods_id, 
      goods_model_id, status, goods_qty, 
      discount_amt, profit_amt, rebate_amt, 
      is_default, is_show_in_home, disp_seq, 
      bu_code, created_by, created_date, 
      last_updated_by, last_updated_date, row_id
      )
    values (#{zoneGoodsId,jdbcType=INTEGER}, #{zoneCode,jdbcType=VARCHAR}, #{goodsId,jdbcType=INTEGER}, 
      #{goodsModelId,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{goodsQty,jdbcType=INTEGER}, 
      #{discountAmt,jdbcType=DECIMAL}, #{profitAmt,jdbcType=DECIMAL}, #{rebateAmt,jdbcType=DECIMAL}, 
      #{isDefault,jdbcType=BIT}, #{isShowInHome,jdbcType=BIT}, #{dispSeq,jdbcType=INTEGER}, 
      #{buCode,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdatedDate,jdbcType=TIMESTAMP}, #{rowId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertActive" parameterType="com.eshop.serviceapp.model.ZoneGoods">
    insert into sh_zone_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="zoneGoodsId != null">
        zone_goods_id,
      </if>
      <if test="zoneCode != null">
        zone_code,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsModelId != null">
        goods_model_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="goodsQty != null">
        goods_qty,
      </if>
      <if test="discountAmt != null">
        discount_amt,
      </if>
      <if test="profitAmt != null">
        profit_amt,
      </if>
      <if test="rebateAmt != null">
        rebate_amt,
      </if>
      <if test="isDefault != null">
        is_default,
      </if>
      <if test="isShowInHome != null">
        is_show_in_home,
      </if>
      <if test="dispSeq != null">
        disp_seq,
      </if>
      <if test="buCode != null">
        bu_code,
      </if>
      <if test="currentUser != null">
        created_by,
      </if>
      <if test="createdDate == null">
        created_date,
      </if>
      <if test="lastUpdatedBy == null">
        last_updated_by,
      </if>
      <if test="lastUpdatedDate == null">
        last_updated_date,
      </if>
      row_id,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="zoneGoodsId != null">
        #{zoneGoodsId,jdbcType=INTEGER},
      </if>
      <if test="zoneCode != null">
        #{zoneCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsModelId != null">
        #{goodsModelId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="goodsQty != null">
        #{goodsQty,jdbcType=INTEGER},
      </if>
      <if test="discountAmt != null">
        #{discountAmt,jdbcType=DECIMAL},
      </if>
      <if test="profitAmt != null">
        #{profitAmt,jdbcType=DECIMAL},
      </if>
      <if test="rebateAmt != null">
        #{rebateAmt,jdbcType=DECIMAL},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=BIT},
      </if>
      <if test="isShowInHome != null">
        #{isShowInHome,jdbcType=BIT},
      </if>
      <if test="dispSeq != null">
        #{dispSeq,jdbcType=INTEGER},
      </if>
      <if test="buCode != null">
        #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="currentUser != null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="createdDate == null">
        now(),
      </if>
      <if test="lastUpdatedBy == null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate == null">
        now(),
      </if>
      <if test="rowId == null">
        uuid(),
      </if>
      <if test="rowId != null">
        #{rowId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateActive" parameterType="com.eshop.serviceapp.model.ZoneGoods">
    update sh_zone_goods
    <set>
      <if test="zoneCode != null">
        zone_code = #{zoneCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsModelId != null">
        goods_model_id = #{goodsModelId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="goodsQty != null">
        goods_qty = #{goodsQty,jdbcType=INTEGER},
      </if>
      <if test="discountAmt != null">
        discount_amt = #{discountAmt,jdbcType=DECIMAL},
      </if>
      <if test="profitAmt != null">
        profit_amt = #{profitAmt,jdbcType=DECIMAL},
      </if>
      <if test="rebateAmt != null">
        rebate_amt = #{rebateAmt,jdbcType=DECIMAL},
      </if>
      <if test="isDefault != null">
        is_default = #{isDefault,jdbcType=BIT},
      </if>
      <if test="isShowInHome != null">
        is_show_in_home = #{isShowInHome,jdbcType=BIT},
      </if>
      <if test="dispSeq != null">
        disp_seq = #{dispSeq,jdbcType=INTEGER},
      </if>
      <if test="buCode != null">
        bu_code = #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where zone_goods_id = #{zoneGoodsId,jdbcType=INTEGER}
  </update>
  <update id="updateActiveByLock" parameterType="com.eshop.serviceapp.model.ZoneGoods">
    update sh_zone_goods
    <set>
      <if test="zoneCode != null">
        zone_code = #{zoneCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsModelId != null">
        goods_model_id = #{goodsModelId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="goodsQty != null">
        goods_qty = #{goodsQty,jdbcType=INTEGER},
      </if>
      <if test="discountAmt != null">
        discount_amt = #{discountAmt,jdbcType=DECIMAL},
      </if>
      <if test="profitAmt != null">
        profit_amt = #{profitAmt,jdbcType=DECIMAL},
      </if>
      <if test="rebateAmt != null">
        rebate_amt = #{rebateAmt,jdbcType=DECIMAL},
      </if>
      <if test="isDefault != null">
        is_default = #{isDefault,jdbcType=BIT},
      </if>
      <if test="isShowInHome != null">
        is_show_in_home = #{isShowInHome,jdbcType=BIT},
      </if>
      <if test="dispSeq != null">
        disp_seq = #{dispSeq,jdbcType=INTEGER},
      </if>
      <if test="buCode != null">
        bu_code = #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="currentUser != null">
        last_updated_by = #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = now(),
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where zone_goods_id = #{zoneGoodsId,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.eshop.serviceapp.model.ZoneGoods">
    update sh_zone_goods
    set zone_code = #{zoneCode,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=INTEGER},
      goods_model_id = #{goodsModelId,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      goods_qty = #{goodsQty,jdbcType=INTEGER},
      discount_amt = #{discountAmt,jdbcType=DECIMAL},
      profit_amt = #{profitAmt,jdbcType=DECIMAL},
      rebate_amt = #{rebateAmt,jdbcType=DECIMAL},
      is_default = #{isDefault,jdbcType=BIT},
      is_show_in_home = #{isShowInHome,jdbcType=BIT},
      disp_seq = #{dispSeq,jdbcType=INTEGER},
      bu_code = #{buCode,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      row_id = #{rowId,jdbcType=VARCHAR}
    where zone_goods_id = #{zoneGoodsId,jdbcType=INTEGER}
  </update>
  <sql id="Base_Query_Cause">
    WHERE 1=1
      <if test="zoneGoodsId != null">
         and t.zone_goods_id = #{zoneGoodsId,jdbcType=INTEGER}
      </if>
      <if test="zoneCode != null">
         and t.zone_code = #{zoneCode,jdbcType=VARCHAR}
      </if>
      <if test="goodsId != null">
         and t.goods_id = #{goodsId,jdbcType=INTEGER}
      </if>
      <if test="goodsModelId != null">
         and t.goods_model_id = #{goodsModelId,jdbcType=INTEGER}
      </if>
      <if test="status != null">
         and t.status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="goodsQty != null">
         and t.goods_qty = #{goodsQty,jdbcType=INTEGER}
      </if>
      <if test="discountAmt != null">
         and t.discount_amt = #{discountAmt,jdbcType=DECIMAL}
      </if>
      <if test="profitAmt != null">
         and t.profit_amt = #{profitAmt,jdbcType=DECIMAL}
      </if>
      <if test="rebateAmt != null">
         and t.rebate_amt = #{rebateAmt,jdbcType=DECIMAL}
      </if>
      <if test="isDefault != null">
         and t.is_default = #{isDefault,jdbcType=BIT}
      </if>
      <if test="isShowInHome != null">
         and t.is_show_in_home = #{isShowInHome,jdbcType=BIT}
      </if>
      <if test="dispSeq != null">
         and t.disp_seq = #{dispSeq,jdbcType=INTEGER}
      </if>
      <if test="buCode != null">
         and t.bu_code = #{buCode,jdbcType=VARCHAR}
      </if>
      <if test="createdBy != null">
         and t.created_by = #{createdBy,jdbcType=VARCHAR}
      </if>
      <if test="createdDate != null">
         and t.created_date = #{createdDate,jdbcType=TIMESTAMP}
      </if>
      <if test="lastUpdatedBy != null">
         and t.last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
      </if>
      <if test="lastUpdatedDate != null">
         and t.last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
      </if>
      <if test="rowId != null">
         and t.row_id = #{rowId,jdbcType=VARCHAR}
      </if>
  </sql>
  <select id="getAll" resultMap="BaseResultMap">
    select t.* from sh_zone_goods t
  </select>
  <select id="getList" parameterType="com.eshop.serviceapp.model.ZoneGoods" resultMap="BaseResultMap">
    select t.* from sh_zone_goods t
    <include refid="Base_Query_Cause" />
  </select>
  <select id="getPageList" parameterType="com.eshop.serviceapp.model.ZoneGoods" resultMap="BaseResultMap">
    select t.* from sh_zone_goods t
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryPageList" parameterType="com.eshop.serviceapp.model.ZoneGoods" resultMap="BaseResultMap" useCache="false">
    select t.* from sh_zone_goods t
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryList" parameterType="com.eshop.serviceapp.model.ZoneGoods" resultMap="BaseResultMap" useCache="false">
    select t.* from sh_zone_goods t
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryVoList" parameterType="com.eshop.serviceapp.vo.ZoneGoodsVO" resultMap="voResultMap" useCache="false">
    SELECT
    t.zone_goods_id,b.goods_name,b.goods_code,a.price,count(d.comment_id) comment_count,
    (SELECT media_url FROM sh_goods_media where media_type = 'IMAGE' and goods_id = b.goods_id limit 1) media_url
    FROM
    sh_zone_goods t
    LEFT JOIN sh_goods_model a ON a.goods_model_id = t.goods_model_id
    LEFT JOIN sh_goods b on b.goods_id = t.goods_id
    LEFT JOIN mc_comment d ON d.goods_id = b.goods_id
    LEFT JOIN sh_category e on e.category_id = b.category_id
    WHERE 1=1
    <if test="zoneCode != null">
      and t.zone_code = #{zoneCode,jdbcType=VARCHAR}
    </if>
    <if test="categoryId != null">
      and b.category_id = #{categoryId,jdbcType=VARCHAR}
    </if>
    <if test="searchValue != null">
      and (b.goods_name like concat('%',#{searchValue,jdbcType=VARCHAR},'%')
      or b.goods_brief like concat('%',#{searchValue,jdbcType=VARCHAR},'%')
      or b.goods_desc like concat('%',#{searchValue,jdbcType=VARCHAR},'%'))
    </if>
    group by t.zone_goods_id
  </select>

  <select id="getDetail" parameterType="com.eshop.serviceapp.model.ZoneGoods" resultMap="detailMap" useCache="false">
    SELECT
    t.zone_goods_id,b.goods_name,b.goods_code,a.price,b.goods_brief,b.goods_desc
    FROM
    sh_zone_goods t
    LEFT JOIN sh_goods_model a ON a.goods_model_id = t.goods_model_id
    LEFT JOIN sh_goods b on b.goods_id = t.goods_id
    WHERE  t.zone_goods_id = #{zoneGoodsId,jdbcType=INTEGER}
  </select>
  <cache type="com.eshop.serviceapp.redis.MybatisRedisCache" />
</mapper>