<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshop.serviceweb.mapper.MemberGradeHistMapper">
  <resultMap id="BaseResultMap" type="com.eshop.serviceweb.model.MemberGradeHist">
    <id column="member_grade_hist_id" jdbcType="INTEGER" property="memberGradeHistId" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="event_date" jdbcType="TIMESTAMP" property="eventDate" />
    <result column="event_type" jdbcType="VARCHAR" property="eventType" />
    <result column="event_by" jdbcType="VARCHAR" property="eventBy" />
    <result column="grade_before" jdbcType="VARCHAR" property="gradeBefore" />
    <result column="grade_after" jdbcType="VARCHAR" property="gradeAfter" />
    <result column="bu_code" jdbcType="VARCHAR" property="buCode" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="TIMESTAMP" property="lastUpdatedDate" />
    <result column="row_id" jdbcType="VARCHAR" property="rowId" />
  </resultMap>
  <sql id="Base_Column_List">
    member_grade_hist_id, member_id, event_date, event_type, event_by, grade_before, 
    grade_after, bu_code, created_by, created_date, last_updated_by, last_updated_date, 
    row_id
  </sql>
  <select id="getOne" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mc_member_grade_hist
    where member_grade_hist_id = #{memberGradeHistId,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from mc_member_grade_hist
    where member_grade_hist_id = #{memberGradeHistId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByLock" parameterType="com.eshop.serviceweb.vo.DeleteVO">
    delete from mc_member_grade_hist
    where member_grade_hist_id = #{id,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eshop.serviceweb.model.MemberGradeHist">
    insert into mc_member_grade_hist (member_grade_hist_id, member_id, event_date, 
      event_type, event_by, grade_before, 
      grade_after, bu_code, created_by, 
      created_date, last_updated_by, last_updated_date, 
      row_id)
    values (#{memberGradeHistId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{eventDate,jdbcType=TIMESTAMP}, 
      #{eventType,jdbcType=VARCHAR}, #{eventBy,jdbcType=VARCHAR}, #{gradeBefore,jdbcType=VARCHAR}, 
      #{gradeAfter,jdbcType=VARCHAR}, #{buCode,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdatedDate,jdbcType=TIMESTAMP}, 
      #{rowId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertActive" parameterType="com.eshop.serviceweb.model.MemberGradeHist">
    insert into mc_member_grade_hist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memberGradeHistId != null">
        member_grade_hist_id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="eventDate != null">
        event_date,
      </if>
      <if test="eventType != null">
        event_type,
      </if>
      <if test="eventBy != null">
        event_by,
      </if>
      <if test="gradeBefore != null">
        grade_before,
      </if>
      <if test="gradeAfter != null">
        grade_after,
      </if>
      <if test="buCode != null">
        bu_code,
      </if>
      <if test="currentUser != null">
        created_by,
      </if>
      <if test="createdDate == null">
        created_date,
      </if>
      <if test="lastUpdatedBy == null">
        last_updated_by,
      </if>
      <if test="lastUpdatedDate == null">
        last_updated_date,
      </if>
      <if test="rowId != null">
        row_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memberGradeHistId != null">
        #{memberGradeHistId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="eventDate != null">
        #{eventDate,jdbcType=TIMESTAMP},
      </if>
      <if test="eventType != null">
        #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="eventBy != null">
        #{eventBy,jdbcType=VARCHAR},
      </if>
      <if test="gradeBefore != null">
        #{gradeBefore,jdbcType=VARCHAR},
      </if>
      <if test="gradeAfter != null">
        #{gradeAfter,jdbcType=VARCHAR},
      </if>
      <if test="buCode != null">
        #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="currentUser != null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="createdDate == null">
        now(),
      </if>
      <if test="lastUpdatedBy == null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate == null">
        now(),
      </if>
      <if test="rowId != null">
        #{rowId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateActive" parameterType="com.eshop.serviceweb.model.MemberGradeHist">
    update mc_member_grade_hist
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="eventDate != null">
        event_date = #{eventDate,jdbcType=TIMESTAMP},
      </if>
      <if test="eventType != null">
        event_type = #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="eventBy != null">
        event_by = #{eventBy,jdbcType=VARCHAR},
      </if>
      <if test="gradeBefore != null">
        grade_before = #{gradeBefore,jdbcType=VARCHAR},
      </if>
      <if test="gradeAfter != null">
        grade_after = #{gradeAfter,jdbcType=VARCHAR},
      </if>
      <if test="buCode != null">
        bu_code = #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where member_grade_hist_id = #{memberGradeHistId,jdbcType=INTEGER}
  </update>
  <update id="updateActiveByLock" parameterType="com.eshop.serviceweb.model.MemberGradeHist">
    update mc_member_grade_hist
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="eventDate != null">
        event_date = #{eventDate,jdbcType=TIMESTAMP},
      </if>
      <if test="eventType != null">
        event_type = #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="eventBy != null">
        event_by = #{eventBy,jdbcType=VARCHAR},
      </if>
      <if test="gradeBefore != null">
        grade_before = #{gradeBefore,jdbcType=VARCHAR},
      </if>
      <if test="gradeAfter != null">
        grade_after = #{gradeAfter,jdbcType=VARCHAR},
      </if>
      <if test="buCode != null">
        bu_code = #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="currentUser != null">
        last_updated_by = #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = now(),
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where member_grade_hist_id = #{memberGradeHistId,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.eshop.serviceweb.model.MemberGradeHist">
    update mc_member_grade_hist
    set member_id = #{memberId,jdbcType=INTEGER},
      event_date = #{eventDate,jdbcType=TIMESTAMP},
      event_type = #{eventType,jdbcType=VARCHAR},
      event_by = #{eventBy,jdbcType=VARCHAR},
      grade_before = #{gradeBefore,jdbcType=VARCHAR},
      grade_after = #{gradeAfter,jdbcType=VARCHAR},
      bu_code = #{buCode,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      row_id = #{rowId,jdbcType=VARCHAR}
    where member_grade_hist_id = #{memberGradeHistId,jdbcType=INTEGER}
  </update>
  <sql id="Base_Query_Cause">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="memberGradeHistId != null">
         and member_grade_hist_id = #{memberGradeHistId,jdbcType=INTEGER}
      </if>
      <if test="memberId != null">
         and member_id = #{memberId,jdbcType=INTEGER}
      </if>
      <if test="eventDate != null">
         and event_date = #{eventDate,jdbcType=TIMESTAMP}
      </if>
      <if test="eventType != null">
         and event_type = #{eventType,jdbcType=VARCHAR}
      </if>
      <if test="eventBy != null">
         and event_by = #{eventBy,jdbcType=VARCHAR}
      </if>
      <if test="gradeBefore != null">
         and grade_before = #{gradeBefore,jdbcType=VARCHAR}
      </if>
      <if test="gradeAfter != null">
         and grade_after = #{gradeAfter,jdbcType=VARCHAR}
      </if>
      <if test="buCode != null">
         and bu_code = #{buCode,jdbcType=VARCHAR}
      </if>
      <if test="createdBy != null">
         and created_by = #{createdBy,jdbcType=VARCHAR}
      </if>
      <if test="createdDate != null">
         and created_date = #{createdDate,jdbcType=TIMESTAMP}
      </if>
      <if test="lastUpdatedBy != null">
         and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
      </if>
      <if test="lastUpdatedDate != null">
         and last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
      </if>
      <if test="rowId != null">
         and row_id = #{rowId,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <select id="getAll" resultMap="BaseResultMap">
    select * from mc_member_grade_hist
  </select>
  <select id="getList" parameterType="com.eshop.serviceweb.model.MemberGradeHist" resultMap="BaseResultMap">
    select * from mc_member_grade_hist
    <include refid="Base_Query_Cause" />
  </select>
  <select id="getPageList" parameterType="com.eshop.serviceweb.model.MemberGradeHist" resultMap="BaseResultMap">
    select * from mc_member_grade_hist
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryPageList" parameterType="com.eshop.serviceweb.model.MemberGradeHist" resultMap="BaseResultMap" useCache="false">
    select * from mc_member_grade_hist
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryList" parameterType="com.eshop.serviceweb.model.MemberGradeHist" resultMap="BaseResultMap" useCache="false">
    select * from mc_member_grade_hist
    <include refid="Base_Query_Cause" />
  </select>
  <cache type="com.eshop.serviceweb.redis.MybatisRedisCache" />
</mapper>