<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshop.serviceweb.mapper.MemberGradeHistoryMapper">
  <resultMap id="BaseResultMap" type="com.eshop.serviceweb.model.MemberGradeHistory">
    <id column="grade_history_id" jdbcType="INTEGER" property="gradeHistoryId" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="grade_name" jdbcType="VARCHAR" property="gradeName" />
    <result column="event_time" jdbcType="DATE" property="eventTime" />
    <result column="event_type" jdbcType="VARCHAR" property="eventType" />
    <result column="event_by" jdbcType="VARCHAR" property="eventBy" />
    <result column="event_data" jdbcType="VARCHAR" property="eventData" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="DATE" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="DATE" property="lastUpdatedDate" />
    <result column="row_id" jdbcType="VARCHAR" property="rowId" />
  </resultMap>
  <sql id="Base_Column_List">
    grade_history_id, member_id, grade_name, event_time, event_type, event_by, event_data, 
    created_by, created_date, last_updated_by, last_updated_date, row_id
  </sql>
  <select id="getOne" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from member_grade_history
    where grade_history_id = #{gradeHistoryId,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from member_grade_history
    where grade_history_id = #{gradeHistoryId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByLock" parameterType="com.eshop.serviceweb.vo.DeleteVO">
    delete from member_grade_history
    where grade_history_id = #{id,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eshop.serviceweb.model.MemberGradeHistory">
    insert into member_grade_history (grade_history_id, member_id, grade_name, 
      event_time, event_type, event_by, 
      event_data, created_by, created_date, 
      last_updated_by, last_updated_date, row_id
      )
    values (#{gradeHistoryId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{gradeName,jdbcType=VARCHAR}, 
      #{eventTime,jdbcType=DATE}, #{eventType,jdbcType=VARCHAR}, #{eventBy,jdbcType=VARCHAR}, 
      #{eventData,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=DATE}, 
      #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdatedDate,jdbcType=DATE}, #{rowId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertActive" parameterType="com.eshop.serviceweb.model.MemberGradeHistory">
    insert into member_grade_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gradeHistoryId != null">
        grade_history_id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="gradeName != null">
        grade_name,
      </if>
      <if test="eventTime != null">
        event_time,
      </if>
      <if test="eventType != null">
        event_type,
      </if>
      <if test="eventBy != null">
        event_by,
      </if>
      <if test="eventData != null">
        event_data,
      </if>
      <if test="currentUser != null">
        created_by,
      </if>
      <if test="createdDate == null">
        created_date,
      </if>
      <if test="lastUpdatedBy == null">
        last_updated_by,
      </if>
      <if test="lastUpdatedDate == null">
        last_updated_date,
      </if>
      <if test="rowId != null">
        row_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gradeHistoryId != null">
        #{gradeHistoryId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="gradeName != null">
        #{gradeName,jdbcType=VARCHAR},
      </if>
      <if test="eventTime != null">
        #{eventTime,jdbcType=DATE},
      </if>
      <if test="eventType != null">
        #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="eventBy != null">
        #{eventBy,jdbcType=VARCHAR},
      </if>
      <if test="eventData != null">
        #{eventData,jdbcType=VARCHAR},
      </if>
      <if test="currentUser != null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="createdDate == null">
        now(),
      </if>
      <if test="lastUpdatedBy == null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate == null">
        now(),
      </if>
      <if test="rowId != null">
        #{rowId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateActive" parameterType="com.eshop.serviceweb.model.MemberGradeHistory">
    update member_grade_history
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="gradeName != null">
        grade_name = #{gradeName,jdbcType=VARCHAR},
      </if>
      <if test="eventTime != null">
        event_time = #{eventTime,jdbcType=DATE},
      </if>
      <if test="eventType != null">
        event_type = #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="eventBy != null">
        event_by = #{eventBy,jdbcType=VARCHAR},
      </if>
      <if test="eventData != null">
        event_data = #{eventData,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=DATE},
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = #{lastUpdatedDate,jdbcType=DATE},
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where grade_history_id = #{gradeHistoryId,jdbcType=INTEGER}
  </update>
  <update id="updateActiveByLock" parameterType="com.eshop.serviceweb.model.MemberGradeHistory">
    update member_grade_history
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="gradeName != null">
        grade_name = #{gradeName,jdbcType=VARCHAR},
      </if>
      <if test="eventTime != null">
        event_time = #{eventTime,jdbcType=DATE},
      </if>
      <if test="eventType != null">
        event_type = #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="eventBy != null">
        event_by = #{eventBy,jdbcType=VARCHAR},
      </if>
      <if test="eventData != null">
        event_data = #{eventData,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=DATE},
      </if>
      <if test="currentUser != null">
        last_updated_by = #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = now(),
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where grade_history_id = #{gradeHistoryId,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.eshop.serviceweb.model.MemberGradeHistory">
    update member_grade_history
    set member_id = #{memberId,jdbcType=INTEGER},
      grade_name = #{gradeName,jdbcType=VARCHAR},
      event_time = #{eventTime,jdbcType=DATE},
      event_type = #{eventType,jdbcType=VARCHAR},
      event_by = #{eventBy,jdbcType=VARCHAR},
      event_data = #{eventData,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=DATE},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=DATE},
      row_id = #{rowId,jdbcType=VARCHAR}
    where grade_history_id = #{gradeHistoryId,jdbcType=INTEGER}
  </update>
  <sql id="Base_Query_Cause">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="gradeHistoryId != null">
         and grade_history_id = #{gradeHistoryId,jdbcType=INTEGER}
      </if>
      <if test="memberId != null">
         and member_id = #{memberId,jdbcType=INTEGER}
      </if>
      <if test="gradeName != null">
         and grade_name = #{gradeName,jdbcType=VARCHAR}
      </if>
      <if test="eventTime != null">
         and event_time = #{eventTime,jdbcType=DATE}
      </if>
      <if test="eventType != null">
         and event_type = #{eventType,jdbcType=VARCHAR}
      </if>
      <if test="eventBy != null">
         and event_by = #{eventBy,jdbcType=VARCHAR}
      </if>
      <if test="eventData != null">
         and event_data = #{eventData,jdbcType=VARCHAR}
      </if>
      <if test="createdBy != null">
         and created_by = #{createdBy,jdbcType=VARCHAR}
      </if>
      <if test="createdDate != null">
         and created_date = #{createdDate,jdbcType=DATE}
      </if>
      <if test="lastUpdatedBy != null">
         and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
      </if>
      <if test="lastUpdatedDate != null">
         and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
      </if>
      <if test="rowId != null">
         and row_id = #{rowId,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <select id="getAll" resultMap="BaseResultMap">
    select * from member_grade_history
  </select>
  <select id="getList" parameterType="com.eshop.serviceweb.model.MemberGradeHistory" resultMap="BaseResultMap">
    select * from member_grade_history
    <include refid="Base_Query_Cause" />
  </select>
  <select id="getPageList" parameterType="com.eshop.serviceweb.model.MemberGradeHistory" resultMap="BaseResultMap">
    select * from member_grade_history
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryPageList" parameterType="com.eshop.serviceweb.model.MemberGradeHistory" resultMap="BaseResultMap" useCache="false">
    select * from member_grade_history
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryList" parameterType="com.eshop.serviceweb.model.MemberGradeHistory" resultMap="BaseResultMap" useCache="false">
    select * from member_grade_history
    <include refid="Base_Query_Cause" />
  </select>
  <cache type="com.eshop.serviceweb.redis.MybatisRedisCache" />
</mapper>