<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshop.serviceweb.mapper.MemberMpDetailsMapper">
  <resultMap id="BaseResultMap" type="com.eshop.serviceweb.model.MemberMpDetails">
    <id column="member_mp_details_id" jdbcType="INTEGER" property="memberMpDetailsId" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="ref_no" jdbcType="VARCHAR" property="refNo" />
    <result column="mp_amt" jdbcType="INTEGER" property="mpAmt" />
    <result column="mp_bal" jdbcType="INTEGER" property="mpBal" />
    <result column="event_time" jdbcType="DATE" property="eventTime" />
    <result column="event_type" jdbcType="VARCHAR" property="eventType" />
    <result column="event_by" jdbcType="VARCHAR" property="eventBy" />
    <result column="effective_date" jdbcType="DATE" property="effectiveDate" />
    <result column="bu_code" jdbcType="VARCHAR" property="buCode" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="TIMESTAMP" property="lastUpdatedDate" />
    <result column="row_id" jdbcType="VARCHAR" property="rowId" />
  </resultMap>
  <sql id="Base_Column_List">
    member_mp_details_id, member_id, ref_no, mp_amt, mp_bal, event_time, event_type, 
    event_by, effective_date, bu_code, created_by, created_date, last_updated_by, last_updated_date, 
    row_id
  </sql>
  <select id="getOne" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mc_member_mp_details
    where member_mp_details_id = #{memberMpDetailsId,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from mc_member_mp_details
    where member_mp_details_id = #{memberMpDetailsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByLock" parameterType="com.eshop.serviceweb.vo.DeleteVO">
    delete from mc_member_mp_details
    where member_mp_details_id = #{id,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eshop.serviceweb.model.MemberMpDetails">
    insert into mc_member_mp_details (member_mp_details_id, member_id, ref_no, 
      mp_amt, mp_bal, event_time, 
      event_type, event_by, effective_date, 
      bu_code, created_by, created_date, 
      last_updated_by, last_updated_date, row_id
      )
    values (#{memberMpDetailsId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{refNo,jdbcType=VARCHAR}, 
      #{mpAmt,jdbcType=INTEGER}, #{mpBal,jdbcType=INTEGER}, #{eventTime,jdbcType=DATE}, 
      #{eventType,jdbcType=VARCHAR}, #{eventBy,jdbcType=VARCHAR}, #{effectiveDate,jdbcType=DATE}, 
      #{buCode,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdatedDate,jdbcType=TIMESTAMP}, #{rowId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertActive" parameterType="com.eshop.serviceweb.model.MemberMpDetails">
    insert into mc_member_mp_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memberMpDetailsId != null">
        member_mp_details_id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="refNo != null">
        ref_no,
      </if>
      <if test="mpAmt != null">
        mp_amt,
      </if>
      <if test="mpBal != null">
        mp_bal,
      </if>
      <if test="eventTime != null">
        event_time,
      </if>
      <if test="eventType != null">
        event_type,
      </if>
      <if test="eventBy != null">
        event_by,
      </if>
      <if test="effectiveDate != null">
        effective_date,
      </if>
      <if test="buCode != null">
        bu_code,
      </if>
      created_by,
      created_date,
      last_updated_by,
      last_updated_date,
      row_id,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memberMpDetailsId != null">
        #{memberMpDetailsId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="refNo != null">
        #{refNo,jdbcType=VARCHAR},
      </if>
      <if test="mpAmt != null">
        #{mpAmt,jdbcType=INTEGER},
      </if>
      <if test="mpBal != null">
        #{mpBal,jdbcType=INTEGER},
      </if>
      <if test="eventTime != null">
        #{eventTime,jdbcType=DATE},
      </if>
      <if test="eventType != null">
        #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="eventBy != null">
        #{eventBy,jdbcType=VARCHAR},
      </if>
      <if test="effectiveDate != null">
        #{effectiveDate,jdbcType=DATE},
      </if>
      <if test="buCode != null">
        #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdBy == null and currentUser != null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="createdDate == null">
        now(),
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy == null and currentUser != null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedBy != null">
        #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate == null">
        now(),
      </if>
      <if test="lastUpdatedDate != null">
        #{lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rowId == null">
        uuid(),
      </if>
      <if test="rowId != null">
        #{rowId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateActive" parameterType="com.eshop.serviceweb.model.MemberMpDetails">
    update mc_member_mp_details
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="refNo != null">
        ref_no = #{refNo,jdbcType=VARCHAR},
      </if>
      <if test="mpAmt != null">
        mp_amt = #{mpAmt,jdbcType=INTEGER},
      </if>
      <if test="mpBal != null">
        mp_bal = #{mpBal,jdbcType=INTEGER},
      </if>
      <if test="eventTime != null">
        event_time = #{eventTime,jdbcType=DATE},
      </if>
      <if test="eventType != null">
        event_type = #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="eventBy != null">
        event_by = #{eventBy,jdbcType=VARCHAR},
      </if>
      <if test="effectiveDate != null">
        effective_date = #{effectiveDate,jdbcType=DATE},
      </if>
      <if test="buCode != null">
        bu_code = #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where member_mp_details_id = #{memberMpDetailsId,jdbcType=INTEGER}
  </update>
  <update id="updateActiveByLock" parameterType="com.eshop.serviceweb.model.MemberMpDetails">
    update mc_member_mp_details
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="refNo != null">
        ref_no = #{refNo,jdbcType=VARCHAR},
      </if>
      <if test="mpAmt != null">
        mp_amt = #{mpAmt,jdbcType=INTEGER},
      </if>
      <if test="mpBal != null">
        mp_bal = #{mpBal,jdbcType=INTEGER},
      </if>
      <if test="eventTime != null">
        event_time = #{eventTime,jdbcType=DATE},
      </if>
      <if test="eventType != null">
        event_type = #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="eventBy != null">
        event_by = #{eventBy,jdbcType=VARCHAR},
      </if>
      <if test="effectiveDate != null">
        effective_date = #{effectiveDate,jdbcType=DATE},
      </if>
      <if test="buCode != null">
        bu_code = #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="currentUser != null">
        last_updated_by = #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = now(),
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where member_mp_details_id = #{memberMpDetailsId,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.eshop.serviceweb.model.MemberMpDetails">
    update mc_member_mp_details
    set member_id = #{memberId,jdbcType=INTEGER},
      ref_no = #{refNo,jdbcType=VARCHAR},
      mp_amt = #{mpAmt,jdbcType=INTEGER},
      mp_bal = #{mpBal,jdbcType=INTEGER},
      event_time = #{eventTime,jdbcType=DATE},
      event_type = #{eventType,jdbcType=VARCHAR},
      event_by = #{eventBy,jdbcType=VARCHAR},
      effective_date = #{effectiveDate,jdbcType=DATE},
      bu_code = #{buCode,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      row_id = #{rowId,jdbcType=VARCHAR}
    where member_mp_details_id = #{memberMpDetailsId,jdbcType=INTEGER}
  </update>
  <sql id="Base_Query_Cause">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="memberMpDetailsId != null">
         and t.member_mp_details_id = #{memberMpDetailsId,jdbcType=INTEGER}
      </if>
      <if test="memberId != null">
         and t.member_id = #{memberId,jdbcType=INTEGER}
      </if>
      <if test="refNo != null">
         and t.ref_no = #{refNo,jdbcType=VARCHAR}
      </if>
      <if test="mpAmt != null">
         and t.mp_amt = #{mpAmt,jdbcType=INTEGER}
      </if>
      <if test="mpBal != null">
         and t.mp_bal = #{mpBal,jdbcType=INTEGER}
      </if>
      <if test="eventTime != null">
         and t.event_time = #{eventTime,jdbcType=DATE}
      </if>
      <if test="eventType != null">
         and t.event_type = #{eventType,jdbcType=VARCHAR}
      </if>
      <if test="eventBy != null">
         and t.event_by = #{eventBy,jdbcType=VARCHAR}
      </if>
      <if test="effectiveDate != null">
         and t.effective_date = #{effectiveDate,jdbcType=DATE}
      </if>
      <if test="buCode != null">
         and t.bu_code = #{buCode,jdbcType=VARCHAR}
      </if>
      <if test="createdBy != null">
         and t.created_by = #{createdBy,jdbcType=VARCHAR}
      </if>
      <if test="createdDate != null">
         and t.created_date = #{createdDate,jdbcType=TIMESTAMP}
      </if>
      <if test="lastUpdatedBy != null">
         and t.last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
      </if>
      <if test="lastUpdatedDate != null">
         and t.last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
      </if>
      <if test="rowId != null">
         and t.row_id = #{rowId,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <select id="getAll" resultMap="BaseResultMap">
    select t.* from mc_member_mp_details t
  </select>
  <select id="getList" parameterType="com.eshop.serviceweb.model.MemberMpDetails" resultMap="BaseResultMap">
    select t.* from mc_member_mp_details t
    <include refid="Base_Query_Cause" />
  </select>
  <select id="getPageList" parameterType="com.eshop.serviceweb.model.MemberMpDetails" resultMap="BaseResultMap">
    select t.* from mc_member_mp_details t
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryPageList" parameterType="com.eshop.serviceweb.model.MemberMpDetails" resultMap="BaseResultMap" useCache="false">
    select t.* from mc_member_mp_details t
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryList" parameterType="com.eshop.serviceweb.model.MemberMpDetails" resultMap="BaseResultMap" useCache="false">
    select t.* from mc_member_mp_details t
    <include refid="Base_Query_Cause" />
  </select>
  <cache type="com.eshop.serviceweb.redis.MybatisRedisCache" />
</mapper>