<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshop.serviceweb.mapper.OrderGoodsMapper">
  <resultMap id="BaseResultMap" type="com.eshop.serviceweb.model.OrderGoods">
    <id column="order_goods_id" jdbcType="INTEGER" property="orderGoodsId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="discount_price" jdbcType="INTEGER" property="discountPrice" />
    <result column="actual_price" jdbcType="INTEGER" property="actualPrice" />
    <result column="actual_date" jdbcType="DATE" property="actualDate" />
    <result column="reappearance" jdbcType="INTEGER" property="reappearance" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="DATE" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="DATE" property="lastUpdatedDate" />
    <result column="row_id" jdbcType="VARCHAR" property="rowId" />
  </resultMap>
  <sql id="Base_Column_List">
    order_goods_id, order_id, goods_id, goods_name, number, price, discount_price, actual_price, 
    actual_date, reappearance, created_by, created_date, last_updated_by, last_updated_date, 
    row_id
  </sql>
  <select id="getOne" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_goods
    where order_goods_id = #{orderGoodsId,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from order_goods
    where order_goods_id = #{orderGoodsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByLock" parameterType="com.eshop.serviceweb.vo.DeleteVO">
    delete from order_goods
    where order_goods_id = #{id,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eshop.serviceweb.model.OrderGoods">
    insert into order_goods (order_goods_id, order_id, goods_id, 
      goods_name, number, price, 
      discount_price, actual_price, actual_date, 
      reappearance, created_by, created_date, 
      last_updated_by, last_updated_date, row_id
      )
    values (#{orderGoodsId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, 
      #{goodsName,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, #{price,jdbcType=INTEGER}, 
      #{discountPrice,jdbcType=INTEGER}, #{actualPrice,jdbcType=INTEGER}, #{actualDate,jdbcType=DATE}, 
      #{reappearance,jdbcType=INTEGER}, #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=DATE}, 
      #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdatedDate,jdbcType=DATE}, #{rowId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertActive" parameterType="com.eshop.serviceweb.model.OrderGoods">
    insert into order_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderGoodsId != null">
        order_goods_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="discountPrice != null">
        discount_price,
      </if>
      <if test="actualPrice != null">
        actual_price,
      </if>
      <if test="actualDate != null">
        actual_date,
      </if>
      <if test="reappearance != null">
        reappearance,
      </if>
      <if test="currentUser != null">
        created_by,
      </if>
      <if test="createdDate == null">
        created_date,
      </if>
      <if test="lastUpdatedBy == null">
        last_updated_by,
      </if>
      <if test="lastUpdatedDate == null">
        last_updated_date,
      </if>
      <if test="rowId != null">
        row_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderGoodsId != null">
        #{orderGoodsId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="discountPrice != null">
        #{discountPrice,jdbcType=INTEGER},
      </if>
      <if test="actualPrice != null">
        #{actualPrice,jdbcType=INTEGER},
      </if>
      <if test="actualDate != null">
        #{actualDate,jdbcType=DATE},
      </if>
      <if test="reappearance != null">
        #{reappearance,jdbcType=INTEGER},
      </if>
      <if test="currentUser != null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="createdDate == null">
        now(),
      </if>
      <if test="lastUpdatedBy == null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate == null">
        now(),
      </if>
      <if test="rowId != null">
        #{rowId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateActive" parameterType="com.eshop.serviceweb.model.OrderGoods">
    update order_goods
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="discountPrice != null">
        discount_price = #{discountPrice,jdbcType=INTEGER},
      </if>
      <if test="actualPrice != null">
        actual_price = #{actualPrice,jdbcType=INTEGER},
      </if>
      <if test="actualDate != null">
        actual_date = #{actualDate,jdbcType=DATE},
      </if>
      <if test="reappearance != null">
        reappearance = #{reappearance,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=DATE},
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = #{lastUpdatedDate,jdbcType=DATE},
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where order_goods_id = #{orderGoodsId,jdbcType=INTEGER}
  </update>
  <update id="updateActiveByLock" parameterType="com.eshop.serviceweb.model.OrderGoods">
    update order_goods
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="discountPrice != null">
        discount_price = #{discountPrice,jdbcType=INTEGER},
      </if>
      <if test="actualPrice != null">
        actual_price = #{actualPrice,jdbcType=INTEGER},
      </if>
      <if test="actualDate != null">
        actual_date = #{actualDate,jdbcType=DATE},
      </if>
      <if test="reappearance != null">
        reappearance = #{reappearance,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=DATE},
      </if>
      <if test="currentUser != null">
        last_updated_by = #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = now(),
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where order_goods_id = #{orderGoodsId,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.eshop.serviceweb.model.OrderGoods">
    update order_goods
    set order_id = #{orderId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER},
      discount_price = #{discountPrice,jdbcType=INTEGER},
      actual_price = #{actualPrice,jdbcType=INTEGER},
      actual_date = #{actualDate,jdbcType=DATE},
      reappearance = #{reappearance,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=DATE},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=DATE},
      row_id = #{rowId,jdbcType=VARCHAR}
    where order_goods_id = #{orderGoodsId,jdbcType=INTEGER}
  </update>
  <sql id="Base_Query_Cause">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="orderGoodsId != null">
         and order_goods_id = #{orderGoodsId,jdbcType=INTEGER}
      </if>
      <if test="orderId != null">
         and order_id = #{orderId,jdbcType=INTEGER}
      </if>
      <if test="goodsId != null">
         and goods_id = #{goodsId,jdbcType=INTEGER}
      </if>
      <if test="goodsName != null">
         and goods_name = #{goodsName,jdbcType=VARCHAR}
      </if>
      <if test="number != null">
         and number = #{number,jdbcType=INTEGER}
      </if>
      <if test="price != null">
         and price = #{price,jdbcType=INTEGER}
      </if>
      <if test="discountPrice != null">
         and discount_price = #{discountPrice,jdbcType=INTEGER}
      </if>
      <if test="actualPrice != null">
         and actual_price = #{actualPrice,jdbcType=INTEGER}
      </if>
      <if test="actualDate != null">
         and actual_date = #{actualDate,jdbcType=DATE}
      </if>
      <if test="reappearance != null">
         and reappearance = #{reappearance,jdbcType=INTEGER}
      </if>
      <if test="createdBy != null">
         and created_by = #{createdBy,jdbcType=VARCHAR}
      </if>
      <if test="createdDate != null">
         and created_date = #{createdDate,jdbcType=DATE}
      </if>
      <if test="lastUpdatedBy != null">
         and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
      </if>
      <if test="lastUpdatedDate != null">
         and last_updated_date = #{lastUpdatedDate,jdbcType=DATE}
      </if>
      <if test="rowId != null">
         and row_id = #{rowId,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <select id="getAll" resultMap="BaseResultMap">
    select * from order_goods
  </select>
  <select id="getList" parameterType="com.eshop.serviceweb.model.OrderGoods" resultMap="BaseResultMap">
    select * from order_goods
    <include refid="Base_Query_Cause" />
  </select>
  <select id="getPageList" parameterType="com.eshop.serviceweb.model.OrderGoods" resultMap="BaseResultMap">
    select * from order_goods
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryPageList" parameterType="com.eshop.serviceweb.model.OrderGoods" resultMap="BaseResultMap" useCache="false">
    select * from order_goods
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryList" parameterType="com.eshop.serviceweb.model.OrderGoods" resultMap="BaseResultMap" useCache="false">
    select * from order_goods
    <include refid="Base_Query_Cause" />
  </select>
  <cache type="com.eshop.serviceweb.redis.MybatisRedisCache" />
</mapper>