<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshop.serviceweb.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.eshop.serviceweb.model.Order">
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="zone_code" jdbcType="VARCHAR" property="zoneCode" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="member_address_id" jdbcType="INTEGER" property="memberAddressId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="mp_amt" jdbcType="INTEGER" property="mpAmt" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
    <result column="shipping_time" jdbcType="TIMESTAMP" property="shippingTime" />
    <result column="receipt_time" jdbcType="TIMESTAMP" property="receiptTime" />
    <result column="bu_code" jdbcType="VARCHAR" property="buCode" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="TIMESTAMP" property="lastUpdatedDate" />
    <result column="row_id" jdbcType="VARCHAR" property="rowId" />
    <result column="settle_status" jdbcType="VARCHAR" property="settleStatus" />
  </resultMap>

  <resultMap id="voResultMap" extends="BaseResultMap" type="com.eshop.serviceweb.vo.OrderVO">
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="profit_amt" jdbcType="DECIMAL" property="profitAmt" />
    <result column="rebate_amt" jdbcType="DECIMAL" property="rebateAmt" />
  </resultMap>

  <sql id="Base_Column_List">
    order_id, zone_code, member_id, member_address_id, order_no, amount, mp_amt, status, 
    payment_time, shipping_time, receipt_time, bu_code, created_by, created_date, last_updated_by, 
    last_updated_date, row_id,settle_status
  </sql>
  <select id="getOne" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mc_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from mc_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByLock" parameterType="com.eshop.serviceweb.vo.DeleteVO">
    delete from mc_order
    where order_id = #{id,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eshop.serviceweb.model.Order">
    insert into mc_order (order_id, zone_code, member_id, 
      member_address_id, order_no, amount, 
      mp_amt, status, payment_time, 
      shipping_time, receipt_time, bu_code, 
      created_by, created_date, last_updated_by, 
      last_updated_date, row_id,settle_status)
    values (#{orderId,jdbcType=INTEGER}, #{zoneCode,jdbcType=VARCHAR}, #{memberId,jdbcType=INTEGER}, 
      #{memberAddressId,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{mpAmt,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{paymentTime,jdbcType=TIMESTAMP}, 
      #{shippingTime,jdbcType=TIMESTAMP}, #{receiptTime,jdbcType=TIMESTAMP}, #{buCode,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{lastUpdatedBy,jdbcType=VARCHAR}, 
      #{lastUpdatedDate,jdbcType=TIMESTAMP}, #{rowId,jdbcType=VARCHAR},#{settleStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertActive" parameterType="com.eshop.serviceweb.model.Order">
    insert into mc_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="zoneCode != null">
        zone_code,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="memberAddressId != null">
        member_address_id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="mpAmt != null">
        mp_amt,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="settleStatus != null">
        settle_status,
      </if>
      <if test="paymentTime != null">
        payment_time,
      </if>
      <if test="shippingTime != null">
        shipping_time,
      </if>
      <if test="receiptTime != null">
        receipt_time,
      </if>
      <if test="buCode != null">
        bu_code,
      </if>
      <if test="currentUser != null">
        created_by,
      </if>
      <if test="createdDate == null">
        created_date,
      </if>
      <if test="lastUpdatedBy == null">
        last_updated_by,
      </if>
      <if test="lastUpdatedDate == null">
        last_updated_date,
      </if>
      row_id,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="zoneCode != null">
        #{zoneCode,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberAddressId != null">
        #{memberAddressId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="mpAmt != null">
        #{mpAmt,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="settleStatus != null">
        #{settleStatus,jdbcType=VARCHAR},
      </if>
      <if test="paymentTime != null">
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shippingTime != null">
        #{shippingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiptTime != null">
        #{receiptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="buCode != null">
        #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="currentUser != null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="createdDate == null">
        now(),
      </if>
      <if test="lastUpdatedBy == null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate == null">
        now(),
      </if>
      <if test="rowId == null">
        uuid(),
      </if>
      <if test="rowId != null">
        #{rowId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateActive" parameterType="com.eshop.serviceweb.model.Order">
    update mc_order
    <set>
      <if test="zoneCode != null">
        zone_code = #{zoneCode,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberAddressId != null">
        member_address_id = #{memberAddressId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="mpAmt != null">
        mp_amt = #{mpAmt,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="settleStatus != null">
        settle_status = #{settleStatus,jdbcType=VARCHAR},
      </if>
      <if test="paymentTime != null">
        payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shippingTime != null">
        shipping_time = #{shippingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiptTime != null">
        receipt_time = #{receiptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="buCode != null">
        bu_code = #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateActiveByLock" parameterType="com.eshop.serviceweb.model.Order">
    update mc_order
    <set>
      <if test="zoneCode != null">
        zone_code = #{zoneCode,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberAddressId != null">
        member_address_id = #{memberAddressId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="mpAmt != null">
        mp_amt = #{mpAmt,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="settleStatus != null">
        settle_status = #{settleStatus,jdbcType=VARCHAR},
      </if>
      <if test="paymentTime != null">
        payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shippingTime != null">
        shipping_time = #{shippingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiptTime != null">
        receipt_time = #{receiptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="buCode != null">
        bu_code = #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="currentUser != null">
        last_updated_by = #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = now(),
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.eshop.serviceweb.model.Order">
    update mc_order
    set zone_code = #{zoneCode,jdbcType=VARCHAR},
      member_id = #{memberId,jdbcType=INTEGER},
      member_address_id = #{memberAddressId,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      mp_amt = #{mpAmt,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      shipping_time = #{shippingTime,jdbcType=TIMESTAMP},
      receipt_time = #{receiptTime,jdbcType=TIMESTAMP},
      bu_code = #{buCode,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      row_id = #{rowId,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <sql id="Base_Query_Cause">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="orderId != null">
         and a.order_id = #{orderId,jdbcType=INTEGER}
      </if>
      <if test="zoneCode != null">
         and a.zone_code = #{zoneCode,jdbcType=VARCHAR}
      </if>
      <if test="memberId != null">
         and a.member_id = #{memberId,jdbcType=INTEGER}
      </if>
      <if test="memberAddressId != null">
         and a.member_address_id = #{memberAddressId,jdbcType=INTEGER}
      </if>
      <if test="orderNo != null">
         and a.order_no = #{orderNo,jdbcType=VARCHAR}
      </if>
      <if test="amount != null">
         and a.amount = #{amount,jdbcType=DECIMAL}
      </if>
      <if test="mpAmt != null">
         and a.mp_amt = #{mpAmt,jdbcType=INTEGER}
      </if>
      <if test="status != null">
         and a.status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="settleStatus != null">
        and a.settle_status = #{settleStatus,jdbcType=VARCHAR}
      </if>
      <if test="paymentTime != null">
         and a.payment_time = #{paymentTime,jdbcType=TIMESTAMP}
      </if>
      <if test="shippingTime != null">
         and a.shipping_time = #{shippingTime,jdbcType=TIMESTAMP}
      </if>
      <if test="receiptTime != null">
         and a.receipt_time = #{receiptTime,jdbcType=TIMESTAMP}
      </if>
      <if test="buCode != null">
         and a.bu_code = #{buCode,jdbcType=VARCHAR}
      </if>
      <if test="createdBy != null">
         and a.created_by = #{createdBy,jdbcType=VARCHAR}
      </if>
      <if test="createdDate != null">
         and a.created_date = #{createdDate,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </sql>

  <sql id="Settle_Query_Time_Cause">
    <if test="beginTime != null">
      and receipt_time >= #{beginTime,jdbcType=TIMESTAMP}
    </if>
    <if test="endTime != null">
      and receipt_time &lt;= #{endTime,jdbcType=TIMESTAMP}
    </if>
  </sql>

  <sql id="Recharge_Query_Time_Cause">
    <if test="beginTime != null">
      and payment_time >= #{beginTime,jdbcType=TIMESTAMP}
    </if>
    <if test="endTime != null">
      and payment_time &lt;= #{endTime,jdbcType=TIMESTAMP}
    </if>
  </sql>

  <select id="getAll" resultMap="BaseResultMap">
    select * from mc_order a
  </select>
  <select id="getList" parameterType="com.eshop.serviceweb.model.Order" resultMap="BaseResultMap">
    select * from mc_order a
    <include refid="Base_Query_Cause" />
  </select>

  <select id="getSettleOrderList" parameterType="com.eshop.serviceweb.vo.OrderVO" resultMap="BaseResultMap">
    select a.* from mc_order a join sh_zone b on b.zone_code = a.zone_code
    <include refid="Base_Query_Cause" />
    <include refid="Settle_Query_Time_Cause" />
    and b.zone_type = 'COM'
    order by a.payment_time desc
  </select>

  <select id="getRechargeOrderList" parameterType="com.eshop.serviceweb.vo.OrderVO" resultMap="BaseResultMap">
    select a.* from mc_order a join sh_zone b on b.zone_code = a.zone_code
    <include refid="Base_Query_Cause" />
    <include refid="Recharge_Query_Time_Cause" />
    and b.zone_type = 'EXP'
    order by a.payment_time desc
  </select>

  <select id="getPageList" parameterType="com.eshop.serviceweb.model.Order" resultMap="BaseResultMap">
    select * from mc_order a
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryPageList" parameterType="com.eshop.serviceweb.model.Order" resultMap="BaseResultMap" useCache="false">
    select * from mc_order a
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryList" parameterType="com.eshop.serviceweb.model.Order" resultMap="BaseResultMap" useCache="false">
    select * from mc_order a
    <include refid="Base_Query_Cause" />
  </select>
  <cache type="com.eshop.serviceweb.redis.MybatisRedisCache" />
</mapper>