<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshop.serviceweb.mapper.SettleBatchMapper">
  <resultMap id="BaseResultMap" type="com.eshop.serviceweb.model.SettleBatch">
    <id column="settle_batch_id" jdbcType="INTEGER" property="settleBatchId" />
    <result column="settle_time" jdbcType="TIMESTAMP" property="settleTime" />
    <result column="settle_type" jdbcType="VARCHAR" property="settleType" />
    <result column="settle_zone" jdbcType="VARCHAR" property="settleZone" />
    <result column="settle_by" jdbcType="VARCHAR" property="settleBy" />
    <result column="profit_amt" jdbcType="DECIMAL" property="profitAmt" />
    <result column="profit_bal" jdbcType="DECIMAL" property="profitBal" />
    <result column="bu_code" jdbcType="VARCHAR" property="buCode" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="TIMESTAMP" property="lastUpdatedDate" />
    <result column="row_id" jdbcType="VARCHAR" property="rowId" />
  </resultMap>

  <resultMap id="mapResult" extends="BaseResultMap" type="map">
    <result column="order_count" jdbcType="INTEGER" property="orderCount" />
    <result column="order_amount" jdbcType="DECIMAL" property="orderAmount" />
    <result column="rebateAmt" jdbcType="DECIMAL" property="rebateAmt" />
  </resultMap>

  <sql id="Base_Column_List">
    settle_batch_id, settle_time, settle_type, settle_zone, settle_by, profit_amt, profit_bal, 
    bu_code, created_by, created_date, last_updated_by, last_updated_date, row_id
  </sql>

  <select id="getOne" parameterType="java.lang.Integer" resultMap="mapResult">
    SELECT
      sb.*, count(o.order_id) order_count,sum(o.amount) order_amount,sum(sd.rebate_amt) rebateAmt
    FROM
      ac_settle_batch sb
    JOIN ac_settle_details sd ON sd.settle_batch_id = sb.settle_batch_id
    JOIN mc_order o ON o.order_id = sd.order_id
    JOIN sh_zone z on z.zone_code = o.zone_code
    WHERE
      sb.settle_batch_id = #{settleBatchId,jdbcType=INTEGER}
    AND sb.settle_zone = z.zone_type
  </select>

  <select id="getNewestOne" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ac_settle_batch
    <include refid="Base_Query_Cause" />
    order by settle_time desc
    limit 1
  </select>

  <delete id="delete" parameterType="java.lang.Integer">
    delete from ac_settle_batch
    where settle_batch_id = #{settleBatchId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByLock" parameterType="com.eshop.serviceweb.vo.DeleteVO">
    delete from ac_settle_batch
    where settle_batch_id = #{id,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eshop.serviceweb.model.SettleBatch">
    insert into ac_settle_batch (settle_batch_id, settle_time, settle_type, 
      settle_zone, settle_by, profit_amt, 
      profit_bal, bu_code, created_by, 
      created_date, last_updated_by, last_updated_date, 
      row_id)
    values (#{settleBatchId,jdbcType=INTEGER}, #{settleTime,jdbcType=TIMESTAMP}, #{settleType,jdbcType=VARCHAR}, 
      #{settleZone,jdbcType=VARCHAR}, #{settleBy,jdbcType=VARCHAR}, #{profitAmt,jdbcType=DECIMAL}, 
      #{profitBal,jdbcType=DECIMAL}, #{buCode,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdatedDate,jdbcType=TIMESTAMP}, 
      #{rowId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertActive" parameterType="com.eshop.serviceweb.model.SettleBatch" useGeneratedKeys="true" keyProperty="settleBatchId">
    insert into ac_settle_batch
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="settleBatchId != null">
        settle_batch_id,
      </if>
      <if test="settleTime != null">
        settle_time,
      </if>
      <if test="settleType != null">
        settle_type,
      </if>
      <if test="settleZone != null">
        settle_zone,
      </if>
      <if test="settleBy != null">
        settle_by,
      </if>
      <if test="profitAmt != null">
        profit_amt,
      </if>
      <if test="profitBal != null">
        profit_bal,
      </if>
      <if test="buCode != null">
        bu_code,
      </if>
      <if test="currentUser != null">
        created_by,
      </if>
      <if test="createdDate == null">
        created_date,
      </if>
      <if test="lastUpdatedBy == null">
        last_updated_by,
      </if>
      <if test="lastUpdatedDate == null">
        last_updated_date,
      </if>
      <if test="rowId != null">
        row_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="settleBatchId != null">
        #{settleBatchId,jdbcType=INTEGER},
      </if>
      <if test="settleTime != null">
        #{settleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="settleType != null">
        #{settleType,jdbcType=VARCHAR},
      </if>
      <if test="settleZone != null">
        #{settleZone,jdbcType=VARCHAR},
      </if>
      <if test="settleBy != null">
        #{settleBy,jdbcType=VARCHAR},
      </if>
      <if test="profitAmt != null">
        #{profitAmt,jdbcType=DECIMAL},
      </if>
      <if test="profitBal != null">
        #{profitBal,jdbcType=DECIMAL},
      </if>
      <if test="buCode != null">
        #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="currentUser != null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="createdDate == null">
        now(),
      </if>
      <if test="lastUpdatedBy == null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate == null">
        now(),
      </if>
      <if test="rowId != null">
        #{rowId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateActive" parameterType="com.eshop.serviceweb.model.SettleBatch">
    update ac_settle_batch
    <set>
      <if test="settleTime != null">
        settle_time = #{settleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="settleType != null">
        settle_type = #{settleType,jdbcType=VARCHAR},
      </if>
      <if test="settleZone != null">
        settle_zone = #{settleZone,jdbcType=VARCHAR},
      </if>
      <if test="settleBy != null">
        settle_by = #{settleBy,jdbcType=VARCHAR},
      </if>
      <if test="profitAmt != null">
        profit_amt = #{profitAmt,jdbcType=DECIMAL},
      </if>
      <if test="profitBal != null">
        profit_bal = #{profitBal,jdbcType=DECIMAL},
      </if>
      <if test="buCode != null">
        bu_code = #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where settle_batch_id = #{settleBatchId,jdbcType=INTEGER}
  </update>
  <update id="updateActiveByLock" parameterType="com.eshop.serviceweb.model.SettleBatch">
    update ac_settle_batch
    <set>
      <if test="settleTime != null">
        settle_time = #{settleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="settleType != null">
        settle_type = #{settleType,jdbcType=VARCHAR},
      </if>
      <if test="settleZone != null">
        settle_zone = #{settleZone,jdbcType=VARCHAR},
      </if>
      <if test="settleBy != null">
        settle_by = #{settleBy,jdbcType=VARCHAR},
      </if>
      <if test="profitAmt != null">
        profit_amt = #{profitAmt,jdbcType=DECIMAL},
      </if>
      <if test="profitBal != null">
        profit_bal = #{profitBal,jdbcType=DECIMAL},
      </if>
      <if test="buCode != null">
        bu_code = #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="currentUser != null">
        last_updated_by = #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = now(),
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where settle_batch_id = #{settleBatchId,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.eshop.serviceweb.model.SettleBatch">
    update ac_settle_batch
    set settle_time = #{settleTime,jdbcType=TIMESTAMP},
      settle_type = #{settleType,jdbcType=VARCHAR},
      settle_zone = #{settleZone,jdbcType=VARCHAR},
      settle_by = #{settleBy,jdbcType=VARCHAR},
      profit_amt = #{profitAmt,jdbcType=DECIMAL},
      profit_bal = #{profitBal,jdbcType=DECIMAL},
      bu_code = #{buCode,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      row_id = #{rowId,jdbcType=VARCHAR}
    where settle_batch_id = #{settleBatchId,jdbcType=INTEGER}
  </update>
  <sql id="Base_Query_Cause">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="settleBatchId != null">
         and settle_batch_id = #{settleBatchId,jdbcType=INTEGER}
      </if>
      <if test="settleTime != null">
         and settle_time = #{settleTime,jdbcType=TIMESTAMP}
      </if>
      <if test="settleType != null">
         and settle_type = #{settleType,jdbcType=VARCHAR}
      </if>
      <if test="settleZone != null">
         and settle_zone = #{settleZone,jdbcType=VARCHAR}
      </if>
      <if test="settleBy != null">
         and settle_by = #{settleBy,jdbcType=VARCHAR}
      </if>
      <if test="profitAmt != null">
         and profit_amt = #{profitAmt,jdbcType=DECIMAL}
      </if>
      <if test="profitBal != null">
         and profit_bal = #{profitBal,jdbcType=DECIMAL}
      </if>
      <if test="buCode != null">
         and bu_code = #{buCode,jdbcType=VARCHAR}
      </if>
      <if test="createdBy != null">
         and created_by = #{createdBy,jdbcType=VARCHAR}
      </if>
      <if test="createdDate != null">
         and created_date = #{createdDate,jdbcType=TIMESTAMP}
      </if>
      <if test="lastUpdatedBy != null">
         and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
      </if>
      <if test="lastUpdatedDate != null">
         and last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
      </if>
      <if test="rowId != null">
         and row_id = #{rowId,jdbcType=VARCHAR}
      </if>
      <if test="beginTime != null">
        and settle_time >= #{beginTime,jdbcType=TIMESTAMP}
      </if>
      <if test="endTime != null">
        and settle_time &lt;= #{endTime,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </sql>

  <sql id="Settle_Query_Value">
  SELECT
	sb.*, count(o.order_id) order_count,
	sum(o.amount) order_amount,
	sum(sd.rebate_amt) rebateAmt
  FROM
      ac_settle_batch sb
  JOIN ac_settle_details sd ON sd.settle_batch_id = sb.settle_batch_id
  JOIN mc_order o ON o.order_id = sd.order_id
  JOIN sh_zone z on z.zone_code = o.zone_code
  WHERE 1=1
  AND sb.settle_zone = z.zone_type
    <if test="settleBatchId != null">
      and sb.settle_batch_id = #{settleBatchId,jdbcType=INTEGER}
    </if>
    <if test="settleTime != null">
      and sb.settle_time = #{settleTime,jdbcType=TIMESTAMP}
    </if>
    <if test="settleType != null">
      and sb.settle_type = #{settleType,jdbcType=VARCHAR}
    </if>
    <if test="settleZone != null">
      and sb.settle_zone = #{settleZone,jdbcType=VARCHAR}
    </if>
    <if test="settleBy != null">
      and sb.settle_by = #{settleBy,jdbcType=VARCHAR}
    </if>
    <if test="profitAmt != null">
      and sb.profit_amt = #{profitAmt,jdbcType=DECIMAL}
    </if>
    <if test="profitBal != null">
      and sb.profit_bal = #{profitBal,jdbcType=DECIMAL}
    </if>
    <if test="buCode != null">
      and sb.bu_code = #{buCode,jdbcType=VARCHAR}
    </if>
    <if test="createdBy != null">
      and sb.created_by = #{createdBy,jdbcType=VARCHAR}
    </if>
    <if test="createdDate != null">
      and sb.created_date = #{createdDate,jdbcType=TIMESTAMP}
    </if>
    <if test="lastUpdatedBy != null">
      and sb.last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
    </if>
    <if test="lastUpdatedDate != null">
      and sb.last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
    </if>
    <if test="rowId != null">
      and sb.row_id = #{rowId,jdbcType=VARCHAR}
    </if>
    <if test="beginTime != null">
      and sb.settle_time >= #{beginTime,jdbcType=TIMESTAMP}
    </if>
    <if test="endTime != null">
      and sb.settle_time &lt;= #{endTime,jdbcType=TIMESTAMP}
    </if>
  group by sb.settle_batch_id
  </sql>

  <select id="getAll" resultMap="BaseResultMap">
    select * from ac_settle_batch
  </select>
  <select id="getList" parameterType="com.eshop.serviceweb.model.SettleBatch" resultMap="BaseResultMap">
    select * from ac_settle_batch
    <include refid="Base_Query_Cause" />
  </select>
  <select id="getPageList" parameterType="com.eshop.serviceweb.model.SettleBatch" resultMap="mapResult">
    <include refid="Settle_Query_Value" />
  </select>
  <select id="queryPageList" parameterType="com.eshop.serviceweb.model.SettleBatch" resultMap="mapResult" useCache="false">
    <include refid="Settle_Query_Value" />
  </select>
  <select id="queryList" parameterType="com.eshop.serviceweb.model.SettleBatch" resultMap="BaseResultMap" useCache="false">
    select * from ac_settle_batch
    <include refid="Base_Query_Cause" />
  </select>
  <cache type="com.eshop.serviceweb.redis.MybatisRedisCache" />
</mapper>