<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshop.serviceweb.mapper.SettleDetailsMapper">
  <resultMap id="BaseResultMap" type="com.eshop.serviceweb.model.SettleDetails">
    <id column="settle_details_id" jdbcType="INTEGER" property="settleDetailsId" />
    <result column="settle_batch_id" jdbcType="INTEGER" property="settleBatchId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="profit_amt" jdbcType="DECIMAL" property="profitAmt" />
    <result column="rebate_amt" jdbcType="DECIMAL" property="rebateAmt" />
    <result column="bu_code" jdbcType="VARCHAR" property="buCode" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="TIMESTAMP" property="lastUpdatedDate" />
    <result column="row_id" jdbcType="VARCHAR" property="rowId" />
  </resultMap>

  <resultMap id="mapResult" type="map" extends="BaseResultMap">
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="grade_name" jdbcType="VARCHAR" property="gradeName" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="receipt_time" jdbcType="TIMESTAMP" property="receiptTime" />
    <result column="hasRebateAmt" jdbcType="DECIMAL" property="hasRebateAmt" />
  </resultMap>
  <sql id="Base_Column_List">
    settle_details_id, settle_batch_id, order_id, profit_amt, rebate_amt, bu_code, created_by, 
    created_date, last_updated_by, last_updated_date, row_id
  </sql>
  <select id="getOne" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ac_settle_details
    where settle_details_id = #{settleDetailsId,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from ac_settle_details
    where settle_details_id = #{settleDetailsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByLock" parameterType="com.eshop.serviceweb.vo.DeleteVO">
    delete from ac_settle_details
    where settle_details_id = #{id,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.eshop.serviceweb.model.SettleDetails">
    insert into ac_settle_details (settle_details_id, settle_batch_id, order_id, 
      profit_amt, rebate_amt, bu_code, 
      created_by, created_date, last_updated_by, 
      last_updated_date, row_id)
    values (#{settleDetailsId,jdbcType=INTEGER}, #{settleBatchId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, 
      #{profitAmt,jdbcType=DECIMAL}, #{rebateAmt,jdbcType=DECIMAL}, #{buCode,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{lastUpdatedBy,jdbcType=VARCHAR}, 
      #{lastUpdatedDate,jdbcType=TIMESTAMP}, #{rowId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertActive" parameterType="com.eshop.serviceweb.model.SettleDetails" useGeneratedKeys="true" keyProperty="settleDetailsId">
    insert into ac_settle_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="settleDetailsId != null">
        settle_details_id,
      </if>
      <if test="settleBatchId != null">
        settle_batch_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="profitAmt != null">
        profit_amt,
      </if>
      <if test="rebateAmt != null">
        rebate_amt,
      </if>
      <if test="buCode != null">
        bu_code,
      </if>
      <if test="currentUser != null">
        created_by,
      </if>
      <if test="createdDate == null">
        created_date,
      </if>
      <if test="lastUpdatedBy == null">
        last_updated_by,
      </if>
      <if test="lastUpdatedDate == null">
        last_updated_date,
      </if>
      row_id,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="settleDetailsId != null">
        #{settleDetailsId,jdbcType=INTEGER},
      </if>
      <if test="settleBatchId != null">
        #{settleBatchId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="profitAmt != null">
        #{profitAmt,jdbcType=DECIMAL},
      </if>
      <if test="rebateAmt != null">
        #{rebateAmt,jdbcType=DECIMAL},
      </if>
      <if test="buCode != null">
        #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="currentUser != null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="createdDate == null">
        now(),
      </if>
      <if test="lastUpdatedBy == null">
        #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate == null">
        now(),
      </if>
      <if test="rowId == null">
        uuid(),
      </if>
      <if test="rowId != null">
        #{rowId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateActive" parameterType="com.eshop.serviceweb.model.SettleDetails">
    update ac_settle_details
    <set>
      <if test="settleBatchId != null">
        settle_batch_id = #{settleBatchId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="profitAmt != null">
        profit_amt = #{profitAmt,jdbcType=DECIMAL},
      </if>
      <if test="rebateAmt != null">
        rebate_amt = #{rebateAmt,jdbcType=DECIMAL},
      </if>
      <if test="buCode != null">
        bu_code = #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where settle_details_id = #{settleDetailsId,jdbcType=INTEGER}
  </update>
  <update id="updateActiveByLock" parameterType="com.eshop.serviceweb.model.SettleDetails">
    update ac_settle_details
    <set>
      <if test="settleBatchId != null">
        settle_batch_id = #{settleBatchId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="profitAmt != null">
        profit_amt = #{profitAmt,jdbcType=DECIMAL},
      </if>
      <if test="rebateAmt != null">
        rebate_amt = #{rebateAmt,jdbcType=DECIMAL},
      </if>
      <if test="buCode != null">
        bu_code = #{buCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="currentUser != null">
        last_updated_by = #{currentUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null">
        last_updated_date = now(),
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
    </set>
    where settle_details_id = #{settleDetailsId,jdbcType=INTEGER}
    and last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
    and last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.eshop.serviceweb.model.SettleDetails">
    update ac_settle_details
    set settle_batch_id = #{settleBatchId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      profit_amt = #{profitAmt,jdbcType=DECIMAL},
      rebate_amt = #{rebateAmt,jdbcType=DECIMAL},
      bu_code = #{buCode,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      row_id = #{rowId,jdbcType=VARCHAR}
    where settle_details_id = #{settleDetailsId,jdbcType=INTEGER}
  </update>
  <sql id="Base_Query_Cause">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="settleDetailsId != null">
         and settle_details_id = #{settleDetailsId,jdbcType=INTEGER}
      </if>
      <if test="settleBatchId != null">
         and settle_batch_id = #{settleBatchId,jdbcType=INTEGER}
      </if>
      <if test="orderId != null">
         and order_id = #{orderId,jdbcType=INTEGER}
      </if>
      <if test="profitAmt != null">
         and profit_amt = #{profitAmt,jdbcType=DECIMAL}
      </if>
      <if test="rebateAmt != null">
         and rebate_amt = #{rebateAmt,jdbcType=DECIMAL}
      </if>
      <if test="buCode != null">
         and bu_code = #{buCode,jdbcType=VARCHAR}
      </if>
      <if test="createdBy != null">
         and created_by = #{createdBy,jdbcType=VARCHAR}
      </if>
      <if test="createdDate != null">
         and created_date = #{createdDate,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </sql>
  <sql id="Settle_Query">
    SELECT
    a.*,o.order_no,o.amount,o.payment_time,o.receipt_time,m.nick_name,m.telephone,g.grade_name,o.created_date order_time,
    (select sum(rebate_amt) from ac_rebate_details where ac_rebate_details.settle_details_id=a.settle_details_id) hasRebateAmt
    FROM
    ac_settle_details a
    JOIN mc_order o ON o.order_id = a.order_id
    JOIN mc_member m ON m.member_id = o.member_id
    JOIN ac_settle_batch sb ON sb.settle_batch_id = a.settle_batch_id
    JOIN mc_member_grade g ON g.grade_code = m.member_grade
    where 1=1
    <if test="settleDetailsId != null">
      and a.settle_details_id = #{settleDetailsId,jdbcType=INTEGER}
    </if>
    <if test="settleBatchId != null">
      and a.settle_batch_id = #{settleBatchId,jdbcType=INTEGER}
    </if>
    <if test="orderId != null">
      and a.order_id = #{orderId,jdbcType=INTEGER}
    </if>
    <if test="profitAmt != null">
      and a.profit_amt = #{profitAmt,jdbcType=DECIMAL}
    </if>
    <if test="rebateAmt != null">
      and a.rebate_amt = #{rebateAmt,jdbcType=DECIMAL}
    </if>
    <if test="buCode != null">
      and a.bu_code = #{buCode,jdbcType=VARCHAR}
    </if>
    <if test="createdBy != null">
      and a.created_by = #{createdBy,jdbcType=VARCHAR}
    </if>
    <if test="createdDate != null">
      and a.created_date = #{createdDate,jdbcType=TIMESTAMP}
    </if>
    <if test="lastUpdatedBy != null">
      and a.last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR}
    </if>
    <if test="lastUpdatedDate != null">
      and a.last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP}
    </if>
    <if test="rowId != null">
      and a.row_id = #{rowId,jdbcType=VARCHAR}
    </if>
    <if test="orderNo != null">
      and o.order_no = #{orderNo,jdbcType=VARCHAR}
    </if>
    <if test="amount != null">
      and o.amount = #{amount,jdbcType=DECIMAL}
    </if>
    <if test="userName != null">
      and m.user_name = #{userName,jdbcType=VARCHAR}
    </if>
    <if test="zoneCode != null">
      and sb.zone_code = #{zoneCode,jdbcType=VARCHAR}
    </if>
    <if test="memberGrade != null">
      and m.member_grade = #{memberGrade,jdbcType=VARCHAR}
    </if>
  </sql>
  <select id="getAll" resultMap="BaseResultMap">
    select * from ac_settle_details
  </select>
  <select id="getList" parameterType="com.eshop.serviceweb.model.SettleDetails" resultMap="BaseResultMap">
    select * from ac_settle_details
    <include refid="Base_Query_Cause" />
  </select>
  <select id="getPageList" parameterType="com.eshop.serviceweb.model.SettleDetails" resultMap="BaseResultMap">
    select * from ac_settle_details
    <include refid="Base_Query_Cause" />
  </select>
  <select id="queryPageList" parameterType="com.eshop.serviceweb.model.SettleDetails" resultMap="BaseResultMap" useCache="false">
    select * from ac_settle_details
    <include refid="Base_Query_Cause" />
  </select>
  <select id="getPageListByVO" parameterType="map" resultMap="mapResult">
    <include refid="Settle_Query" />
  </select>
  <select id="queryPageListByVO" parameterType="map" resultMap="mapResult" useCache="false">
    <include refid="Settle_Query" />
  </select>

  <select id="queryList" parameterType="com.eshop.serviceweb.model.SettleDetails" resultMap="BaseResultMap" useCache="false">
    select * from ac_settle_details
    <include refid="Base_Query_Cause" />
  </select>

  <select id="getProfitAmtSum" parameterType="java.lang.Integer" resultType="java.math.BigDecimal">
    select sum(profit_amt) from ac_settle_details where settle_batch_id = #{settleBatchId,jdbcType=INTEGER}
  </select>

  <select id="getRebateAmtSum" parameterType="java.lang.Integer" resultType="java.math.BigDecimal">
    select sum(rebate_amt) from ac_settle_details where settle_batch_id = #{settleBatchId,jdbcType=INTEGER}
  </select>
  <!--<cache type="com.eshop.serviceweb.redis.MybatisRedisCache" />-->
</mapper>